{% extends 'base.html' %}

{% block title %}
404 - URL not found
{% endblock %}

{% block header %}
    <div class="floatleft">
        <img src="/static/images/citysom-logo-big.gif" alt="Citysom Logo"/>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
<div class="cre_event"></div>
<div class="clear"></div>
<div class="bln_area"></div>
    <h2>The URL you are looking for does not exist. If you believe this is an error, please contact your administrator.</h2>
{% endblock %}