{% extends 'base.html' %}

{% block title %}
500 - Server Error
{% endblock %}

{% block header %}
    <div class="floatleft">
        <img src="/media/images/citysom-logo-big.gif" alt="Citysom Logo"/>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content %}
    <h1>Sorry, there was an error</h1>
    
    <h2>
        <p>
            We've encountered a problem.
        </p>
        <br/>
        
        <p>
            We apologize for any inconvenience this has caused you. 
            Citysom is undergoing constant improvement. 
            We hope that you will not have problems in the future.
        </p>
        <br/>
    </h2>
{% endblock %}