{% extends "base.html" %}

{% block title%} About Us {% endblock %}

{% block content %}
<div class="cre_event">Our Mission</div>
<div class="datearea"></div>
<div class="clear"></div>
<p>&nbsp;</p>
<br/>	
<p style="line-height:30px; font-family: Georgia; font-size: 16px; font-weight:normal; color:#111111">Want to get out? The idea to trudge through all the search engines, websites and various listings to

find out what fun event is around already frustrating? 
<br/>
<br/>
Introducing <span style="font-weight:normal; font-family: Damion; font-style:normal; font-weight: 700; color:#000000; font-size:40px;">Citysom </span> : within seconds get an overview of the best events your city has to offer, fitting your tastes, budget and agenda!
<br/>
<br/>
Sounds exciting? Browse through the collection of events and find what new exciting thing you're about to do!
<br/>
<br/>
<span style="color:#FF6600; font-weight:bold; font-family: Georgia; font-size:19px;">The city is yours, let </span><span style="font-weight:normal; font-family: Damion; font-style:normal; font-weight: 700; color:#000000; font-size:40px;">Citysom </span><span style="color:#FF6600; font-weight:bold; font-family: Georgia; font-size:19px;">  help you make the most of it!</span> 
<br/>
<br/>
</p>


<div class="cre_event">The Team</div>
<div class="datearea"></div>
<div class="clear"></div>
<p>&nbsp;</p>

<p style="line-height:30px; font-family: Georgia; font-size: 16px; font-weight:normal; color:#111111">
<br/>	
The idea of an online city guide came during a discussion between friends in Boston. They were
graduate students, transplanted in a new city and couldn’t find easily what to do.
<br/>
<br/>
One of these students is me, Charles-Henri. I am from Paris, France and find it is way too
complicated to find out what is going on with the current tools at hand. So I built <span style="font-weight:normal; font-family: Damion; font-style:normal; font-weight: 700; color:#000000; font-size:40px;">Citysom </span>  for
all the people who want to discover new fun things but don’t want to spend the day searching for it.
<br/>
<br/>
I hope you will enjoy this service and that it will help you enrich your free-time! 
<br/>
<br/>
See you out there!
<br/>
<br/>
Charles-Henri
</p>

 {% endblock %}