{% extends "base.html" %}

{% block title%} About Us {% endblock %}

{% block content %}
<div class="cre_event">About Us</div>
<div class="datearea"></div>
<div class="clear"></div>
<p>&nbsp;</p>

<p>Want to get out? The idea to trudge through all the search engines, websites and various listings to

find out what fun event is around already frustrating? Good news,

seconds get an overview of the best events your city has to offer, fitting your tastes, budget and
agenda.

Browse through the collection, see if anything sparkles your attention, click on the events you want
to know more about and find this superb opportunity for a fantastic night-out with a loved one or
day activity with the kids or anything else that you want to do!

Citysom is here to help! Within

The city is yours, let

Citysom help you make the most of it! </p>


<p>&nbsp;</p>
<div><h1>TEAM</h1></div>
<p>&nbsp;</p>
<p>The idea of an online city guide came during a discussion between friends in Boston. They were
graduate students, transplanted in a new city and couldn’t find easily what to do.

One of these students is me, Charles-Henri. I am from Paris, France and find it is way too
complicated to find out what is going on with the current tools at hand. So I built this platform, for
all the people who want to do something cool but don’t want to spend the day searching for it.

I hope you will enjoy this website and that it will help you. Please drop a line [hyperlink to “Contact
Us” page]] if you feel like it, I am eager to know your impressions about the website and to hear

your comments/ suggestion to make

Citysom a better companion.</p>

 {% endblock %}