<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/js/touchcarousel/touchcarousel.css" />
		<link rel="stylesheet" type="text/css" href="/static/js/touchcarousel/grey-blue-skin/grey-blue-skin.css" />
		<link rel="icon" type="image/png" href="/static/images/citysom_icon.png"/>
		<title>{% block title %}Citysom{% endblock %}</title>
		<link type="text/css" href="/static/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
		<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/static/js/jquery/js/jquery-1.7.2.min.js"></script>
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->
		<script type="text/javascript" src="/static/js/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery/js/jquery-ui-timepicker.js"></script>
		<script type="text/javascript" src="/static/js/jquery/js/jquery.form.js"></script>
		<link type="text/css" href="/static/js/jquery/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" media="all" />
		<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jscrollpane.js"></script>
		<script src="/static/js/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/touchcarousel/jquery.touchcarousel-1.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery/base_specific.js"></script>
		<script src="/static/js/home_page_specific.js" type="text/javascript"></script>
		<script>
			jQuery(document).ready(function() {
	var loc = window.location.toString()
	var page = loc.substring(loc.indexOf('/', 8), loc.length);
	$('#topnavigation>ul>li>a[href="' + page + '"]').parent().addClass("current");
	if(page =='/myprofile/home/'){$('#topnavigation>ul>li>a[href="/"]').parent().addClass("current");}
	
	var mouse_is_inside=false;
	
	$('.login_top_div').hover(function(){
		mouse_is_inside=true;
		}, function(){
			mouse_is_inside=false;
		});
	
	$(document).mouseup(function(){
		if(!mouse_is_inside) $('.login_top_div').hide();	
	});

	jQuery("#menu > li a").click(function(e) {

		jQuery("#everything1, #categories, #concerts, #more").hide();

		jQuery(this).parent().addClass('active');
		jQuery(jQuery(this).attr('href')).show();
		return false;
	});
	

	
	//jQuery("#topnavigation > ul li").click(function(){
	//	jQuery(this).addClass("current");
	//});

	jQuery("#bottom_images").jScrollPane({
		showArrows : true
	});

	$(".search_link").click(function() {
		$("#searchtextarea").val("Search Here...");
		$("#searchtextarea").focus();
		$("#searchtextarea").click(function() {
			$(this).val('');
		});
	});
	$(".login_top_link").click(function(){
		$(".login_top_div").toggle();
	});
	
	$(document).ready(function(){
        $(".login_content input[type=text],.login_content input[type=checkbox],.login_content input[type=radio],.login_content input[type=password], .login_content textarea, .login_content select").uniform();
    });
});
		</script>
		
{% block head %}
{% endblock %}
		
	</head>
	<body>
		<!-- Container start from here -->
		<div id="headerbg">
			<div id="topnavigation">
				<ul>
					<li class="lilink">
						<a href="{% url home %}" class="search_link">Search</a>
					</li>
					<li>
						<a href="#">Categorize</a>
					</li>
					{% if user.is_authenticated and user.userprofile.account_type == "professional" %}
					<li>
						<a href="/event/createevent/">Publish</a>
					</li>
					{% endif %}
				</ul>
				<div id="commenttext">
					Hello <span>{% if user.is_authenticated %}{{user.username}}{% else %}Guest!{% endif %}</span>
				</div>
			</div>
		</div>
		<div id="container">
			<!-- Container 2 start from here -->
			<div id="container2">
				<!-- Topnavigation start from here -->
				
				<!-- Topnavigation end from here -->
				<!-- centerarea main start from here -->
				<div id="centerarea_main">
					<div id="logo">
						<a href="{% url home %}"> <img src="/static/images/citysom_logo.png" width="200" height="65" alt="Citysom" /> </a>
					</div>
					<div id="searchbox_main">
							<div id="logouttext">
								{% if user.is_authenticated %}
									<a href="{% url dashboard %}">Edit Profile</a> | 
									<a href="/accounts/logout">Logout</a>
								{% else %}
									<a href="javascript:void(0)" onclick="getLogin()">Login with Facebook</a> | 
									<a href="javascript:void(0)" class="login_top_link">Login</a> | 
									<a href="/accounts/register/">Sign Up</a>
								{% endif %}
							</div>
							<div class="login_top_div" id="log_top_div" style="display: none;">
								<form method="post" action="{% url auth_login %}">
									{% csrf_token %}
									<div>
										<dl>
											<dt><label for="id_username">Username:</label></dt> <dd><input id="id_username" type="text" name="username" maxlength="30" /></dd>
											<dt><label for="id_password">Password:</label></dt> <dd><input type="password" name="password" id="id_password" /></dd>
											<dt><input type="submit" value="Log in" class="login_submit" /></dt>
										</dl>
									</div>
								</form>
							</div>
							<!-- HIDING SEARCHBOX ON TOP
							<div id="searchbox">
								<input name="searchtextarea" id="searchtextarea" type="text"/>
								<input type="button" name="submit" value=" " id="searchbutton">
							</div>
						-->
					</div>
					<div class="filledarea1">
			        	<div class="textmain">
			            	<div class="textheading">Boston, MA</div>
							<div class="clear"></div>
			                <div class="txt"><a href="#">Change location</a></div>
			            </div>
			            <div class="txt2">Today: {% now "jS F Y" %}</div>
				    <div class="clear"></div>
				    {% if message %}
					<div class="message_success">{{message}}</div>
				    {% endif %}
				    {% if error %}
					<div class="message_error">{{error}}</div>
				    {% endif %}
				    <div class="clear"></div>
			        </div>
					{% block content %}
					{% endblock %} <!-- filledarea start from here -->
					<!--filledarea end from here -->
				</div>
				<!-- centerarea main end from here -->
				<div class="clear"></div>
			</div>
			<!-- Container 2 end from here -->
		</div>
		<!-- Container end from here -->
		<div id="footerbg">
			<!-- Topnavigation start from here -->
			<div id="bottomnavigation">
			    <ul>
			     <li>
			      <a href="/about_us">About us</a>
			     </li>
			     <li>
			      <a href="/contact_us">Contact us</a>
			     </li>
			     <li>
			      <a href="/legal_info">Legal information</a>
			     </li>
			    </ul>
			</div>
			<!-- Topnavigation end from here -->
		</div>
		<div id="fb-root" style="display:none;"></div>
		<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '238686352919310', // App ID
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });
	          FB.Event.subscribe('auth.login', function(response) {
	                   console.log('User is Logged In');
	          });
	
	          FB.Event.subscribe('auth.logout', function(response) {
	                   console.log('Session was terminated!');
	          });
	
	          FB.Event.subscribe('edge.create', function(response) {
	                   console.log("User liked <a target='_blank' href='" + response + "'>this page.</a>");
	          });
	  };
	
	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	   
	   function getLogin()
      {
               FB.getLoginStatus(function(response) {
                 if (response.status === 'connected') {
                         login();
                 } else if (response.status === 'not_authorized') {
                         login();
                 } else {
                         login();
                 }
               });
      }
      
      function login()
      {
               FB.login(function(response) {
                  if (response.authResponse) {
                         FB.api('/me', function(response) {
                            document.location.href='/success';

                         });
                  } else {
                         console.log('User cancelled login or did not fully authorize.');
                  }
               }, {scope:'email'});
      }
		</script>

 <script type="text/javascript">
      $(document).ready(function(){
      	console.log('hello');
      });

      </script>
      <script>
      	$.get("/event/calendar/",function (data){
	$("#home_calendar").html(data);
	load_events();
	}
);
/*$("#home_calendar").on("click", "#days_container>a", function(event){
	$("a.calendar_active").removeClass("calendar_active");
	$(this).addClass("calendar_active");
	load_events();
});*/
		
$("#home_calendar").on("click", "a.calendar_nav_links", function(event){
	event.preventDefault();
	url = $(this).attr("href");
	$.get(url,function (data){
		$("#home_calendar").html(data);
		}
	);
});
		
$("#category").change(function(){
	load_events();
});
		
$('#searchtextarea').keyup(function(e){
	e = e || event;
	if (e.keyCode===13){
		load_events();
	}
	return true;
});
		
$("#searchbutton").click(function(){
	load_events();
});
		
var clicking = false;
var started = 0

$("#home_calendar").on("mousedown", "#days_container>a", function(event){
    if(started == 0){
    	clicking = true;
    $(".calendar_active").removeClass("calendar_active");
    $(".calendar_hover").removeClass("calendar_hover");
    $(".calendar_start").removeClass("calendar_start");
    $(".calendar_end").removeClass("calendar_end");
    $(this).addClass("calendar_active");
    $(this).addClass("calendar_start");
    started = 1;
    return false;
    }
    if(started ==1){
    	clicking = false;
    	
    	$(this).addClass("calendar_tentative");
    	
    	if(parseInt($(".calendar_start").text()) > parseInt($(".calendar_tentative").text())){
    		$(".calendar_tentative").removeClass("calendar_tentative");
    		started = 1;
    		clicking = 1;
    		return;
    		}
    	else{
    		$(".calendar_tentative").removeClass("calendar_tentative");
    		$(this).addClass("calendar_active");
    		$(this).addClass("calendar_end");
    		
    		if($(".calendar_start").attr("rel") != $(".calendar_end").attr("rel")) {
    			$(".calendar_hover").removeClass("calendar_hover");
     			calendar_hovered_items = getAllBetween("a.calendar_start","a.calendar_end");
     			$.each(calendar_hovered_items,function(key,item){$(item).addClass("calendar_hover");});
    			}
    		else {
	    		$(".calendar_active").removeClass("calendar_active");
	     		$(".calendar_hover").removeClass("calendar_hover");
			    $(".calendar_start").removeClass("calendar_start");
			    $(".calendar_end").removeClass("calendar_end");
			    $(this).addClass("calendar_active");
    			}
    		load_events();
    		started = 0;	
    		}
    	return false;
    	}
});
		
/*$("#home_calendar").on("mouseup", "#days_container>a", function(event){
	clicking = false;
    $(this).addClass("calendar_active");
    $(this).addClass("calendar_end");
    if($(".calendar_start").attr("rel") != $(".calendar_end").attr("rel"))
    {
     $(".calendar_hover").removeClass("calendar_hover");
     calendar_hovered_items = getAllBetween("a.calendar_start","a.calendar_end");
     $.each(calendar_hovered_items,function(key,item){$(item).addClass("calendar_hover");});
    }
    else
    {
     $(".calendar_active").removeClass("calendar_active");
     $(".calendar_hover").removeClass("calendar_hover");
     $(".calendar_start").removeClass("calendar_start");
     $(".calendar_end").removeClass("calendar_end");
     $(this).addClass("calendar_active");
    }
    load_events();
    return false;
});*/
		
$("#home_calendar").on("mouseover", "#days_container>a", function(event){
	if(clicking == 0){return}
	else{
		$(".calendar_hover").removeClass("calendar_hover");
		$(this).addClass("calendar_hover");
		if(parseInt($(".calendar_hover").text()) > parseInt($(".calendar_start").text())){
			return;
		}
		else{ $(".calendar_hover").removeClass("calendar_hover"); }
		}
    return false;
});

function getAllBetween(firstEl,lastEl) {
    var firstElement = $(firstEl);
    var lastElement = $(lastEl);
    var collection = new Array();
    collection.push(firstElement);
    $(firstEl).nextAll().each(function(){
        var siblingID  = $(this).attr("rel");
        if (siblingID != $(lastElement).attr("rel")) {
                collection.push($(this));
        } else {
                return false;
        }
    });  
    collection.push(lastElement);       
    return collection;
}

$(".timepicker").timepicker(
	{
	timeFormat:"hh:mm",
	stepMinute: 5
	}
);

$("input[type=checkbox].uni").click(function(){
	date_name = $(this).attr("rel");
	first_child = "#id_start_hours_on_"+date_name;
	second_child = "#id_end_hours_on_"+date_name;
	if($(this).is(":checked"))
	{
		$(first_child).val("09:00");
		$(second_child).val("17:00");
	}
	else
	{
		$(first_child).val("");
		$(second_child).val("");
	}
});
      </script>
	</body>
</html>