<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>CitySom</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link type="text/css" href="css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/jquery.jscrollpane.js"></script>
    <script type="text/javascript">
    jQuery(function() {
        jQuery("#bottom_scroll .right_images").jScrollPane({showArrows:true});
    });
    </script>
</head>



<body>
<!-- Container start from here -->
   <div id="container">
<!-- Container 2 start from here -->
<div id="container2">
	<!-- Topnavigation start from here -->
	<div id="topnavigation">
    	<ul>
        	<li class="lilink"><a href="#">Search</a></li>
            <li><a href="#">Categorize</a></li>
            <li><a href="#">Publish</a></li>
        </ul>
        <div id="commenttext">Hello <span>Charles-Henri</span></div>
    </div>
    <!-- Topnavigation end from here -->
    <!-- centerarea main start from here -->
    <div id="centerarea_main">
    	<div id="logo"><img src="images/logo.png" width="200" height="65" alt="logo" /></div>
        <div id="searchbox_main">
        <form action="" method="get">
        <div id="logouttext">Logout</div>
        	<div id="searchbox">
            	<input name="searchtextarea" id="searchtextarea" type="text" />
            </div>
        </form>    
        </div>
        
        <div class="filledarea1">
        	<div class="textmain">
            	<div class="textheading">Boston, MA</div>
				<div class="clear"></div>
                <div class="txt"><a href="#">Change location</a></div>
            </div>
            <div class="txt2">Today: April 1st 2012</div>
        </div>
        
        
<!--        <div class="filledarea">
        	<div id="headingtext">April 2012</div>
            <div id="sundayarea"><img src="images/sundayimg.png" width="508" height="17" alt="sunday" /></div>
        </div>	 -->
        <div id="april">
             <div class="aprilregion"><img src="images/april.png" width="708" height="144" alt="sunday" /></div>          
        </div>
        <!-- filledarea main start from here -->
         <div class="filledarea">   
        	<div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Min.Price $0</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><input name="" type="image" src="images/button_down.png" /></div>
                    <div class="textbox"><input name="" type="text" class="textfiled" /></div>
                    <div class="nextbutton"><input name="" type="image" src="images/button_up.png" /></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Max.Price $0</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><input name="" type="image" src="images/button_down.png" /></div>
                    <div class="textbox"><input name="" type="text" class="textfiled" /></div>
                    <div class="nextbutton"><input name="" type="image" src="images/button_up.png" /></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Start Time 8:00p</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><input name="" type="image" src="images/button_down.png" /></div>
                    <div class="textbox"><input name="" type="text" class="textfiled" /></div>
                    <div class="nextbutton"><input name="" type="image" src="images/button_up.png" /></div>
                </div>
            </div>
            
            <div class="minprice_main">
                    <div class="minprice_heading">Neighborhood</div>
                    <div class="minprice_heading">
                        <select name="mydropdown" style="background-color: black;width:150px; margin-top: 3px;color:white;font-weight:bold;"> 
                                    <option value="Milk">All</option>
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>                                
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>                                
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>
                        </select>
                    </div>
                </div>
            
            <div class="minprice_main">
                    <div class="minprice_heading">Event Type</div>
                    <div class="minprice_heading">
                        <select name="mydropdown" style="background-color: black;width:150px; margin-top: 3px;color:white;font-weight:bold;"> 
                                    <option value="Milk">All</option>
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>                                
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>                                
                                    <option value="Cheese">Old Cheese</option>
                                    <option value="Bread">Hot Bread</option>
                        </select>
                    </div>
                </div>
           
        </div>
         <!-- filledarea main end from here -->
          <!-- filledarea start from here -->
    <div class="filledarea1" style="width: 967px !important; float: left; position:relative;">
              <div class="everything_area">
            <ul>
    				<li class="every_heading"><a href="index.html"><div class="everything_icon"><img src="images/searchicon.png" width="24" height="24" alt="icon" /></div>&nbsp;&nbsp;Everything</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="images/cateicon.png" width="27" height="19" alt="icon" /></div>&nbsp;&nbsp;Categories</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="images/voice_icon.png" width="16" height="26" alt="icon" /></div>&nbsp;Concerts</a></li>
	<li style="width:auto;"><a href="#">More &nbsp;&nbsp;></a></li>

</ul>
        </div>    
 </div>
             <!--filledarea end from here-->
             <!-- filledarea start from here -->
             <div id="bottom_scroll">
                  <div class="left_region">
                            <div class="event_type">
                                   <h6 style="margin-bottom: 11px;margin-left: 10px;">Event Type</h6>
                            </div>
                            <div class="left_images">
                                    <ul>
                                        <li><img style="padding: 3px;" src="images/concerts.png" width="90" height="150" alt="1"  /></li>
                                        <li><img style="padding: 3px;" src="images/plays.png" width="90" height="150" alt="1" /></li>  
                                        <li><img style="padding: 3px;" src="images/lectures.png" width="90" height="150" alt="1" /></li>
                                    </ul>
                            </div>
                  </div>
                  <div class="right_region">
                            <div class="start_time">
                            <h6>Arrange Time : Start Time</h6>
                        </div>
                            <div class="right_images">  
                             <ul>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li><li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                                <li><img style="padding-bottom:5px;" src="images/churchillimg.png" width="110" height="150" alt="1" /></li>
                            </ul>
                         </div>
                 </div>
             </div>  
             <!--filledarea end from here -->
                 

        <!-- centerarea main end from here -->
        <div class="clear"></div>

        <!-- Container 2 end from here -->
    </div>
        <div class="clear"></div> 
     </div>
    <div id="footerbg">
        <!-- Topnavigation start from here -->
        <div id="bottomnavigation">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Legal information</a> </li>
            </ul>
        </div>
        <!-- Topnavigation end from here -->
    </div>
</div>
</body>
</html>

