<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<title>CitySom</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="js/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
      jQuery(document).ready(function(){
        jQuery("input.uni, textarea.uni, select.uni, button.uni").uniform();
      });
    </script>
</head>

<body>
<!-- Container start from here -->
<div id="container_reg">
<div class="top_bar" style="height: 114px; width: 100%; background-image:url(../../../DMARK-DESKTOP/Vikas/citysom/images/acount_heading.png);">
<div id="topnavigation" style=" margin: 0px auto; float: none;">
        <ul>
            <li class="lilink"><a href="#">Search</a></li>
            <li><a href="#">Categorize</a></li>
            <li><a href="#">Publish</a></li>
        </ul>
         <div id="commenttext">Hello <span>Guest</span></div>
    </div>
	<div style="width:980px; margin:auto;">
		<div id="logo"><img src="images/logo.png" width="200" height="65" alt="logo" /></div>
		<div id="logouttext" style="color: #FF7920;font-size:14px; font-weight:bold;">Login</div>
	</div>
</div>
<!-- Container 2 start from here --> 
<div id="container2">
	<!-- Topnavigation start from here -->
	     <!-- Topnavigation end from here -->
    <!-- centerarea main start from here -->
    <div id="centerarea_main" style="margin-bottom: 150px;">
    	
        <div id="searchbox_main">
        <form action="" method="get">
        
        	
        </form>    
        </div>
                 <div class="date"><h6 style="float: right; font-weight:bold;">Today: April 1st 2012</h6></div>  
                <div class="cre_event">Create an account</div> 
        <div class="datearea"></div>
            <div class="clear"></div>
         <div class="bln_area"></div>
         <div class="login_content">
                  <form action="" method="post" name="adminForm" id="login_form" class="form-validate">
                    <div class="width-60 fltlft">
                         <fieldset class="adminform">
                            <ul class="adminformlist" style="list-style: none;">
                                <li class="formlist">
                                    <label style="font-family:calibri;">Email address</label>
                                    <input type="text" class="uni" name="email" style="border-bottom: 3px solid #000; margin-left: 38px; width: 200px;"></input>
                                </li>
                                
                                 <li class="formlist">
                                    <label style="font-family:calibri;">Password</label>
                                    <input type="password" class="uni" name="password" style="border-bottom: 3px solid #000; margin-left: 67px;  width: 200px;"></input>
                                </li>
                                
                                 <li class="formlist">
                                    <label style="font-family:calibri;">Confirm Password</label>
                                    <input type="password" class="uni" name="password" style="border-bottom: 3px solid #000; margin-left: 13px;  width: 200px;"></input>
                                </li>
                                
                                 <li class="formlist" style="margin-top: 20px;">
								 <span style="margin:0px 20px 0px 10px;">
                                    <input type="checkbox" class="uni" name="Personal account" value="" style="border-bottom: 3px solid #000;"></input>
                                    <label style="font-family:calibri;" >Personal account</label></span>
                                    
                                    <input type="checkbox" class="uni" name="Professional account" value="" style="border-bottom: 3px solid #000; margin-left: 60px;"></input>
                                    <label style="margin-left:0px ; font-family:calibri;">Professional  account</label>  
                                </li>
                                <a href="#">             
                                <img src="./images/cont.png" alt="" style="margin-left: 36px; margin-top: 20px;" />
                                </a>
                              </ul>  
                        </fieldset>
                     </div>   
                  </form>
       
             
         	
    </div>
    <!-- centerarea main end from here -->
    <div class="clear"></div>
    </div>
    <!-- Container 2 end from here -->
</div>
<!-- Container end from here -->
<div class="clear"></div>
<div id="footerbg">
	<!-- Topnavigation start from here -->
	<div id="bottomnavigation">
    	<ul>
        	<li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Legal information</a></li>
        </ul>
        
    </div>
    <!-- Topnavigation end from here -->
</div>


</div>
</body>
</html>
