<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en" dir="ltr" version="HTML+RDFa 1.1">
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=yes" />
    <link rel="shortcut icon" href="http://favicon.ico" type="image/vnd.microsoft.icon" />
    <title>Citysom</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
        <link rel="icon" type="image/x-icon" href="/static/images/citysom_icon.png"/>
        <link rel "shortcut icon" type="image/x-icon" href="/static/images/citysom_icon.png"/>
        
        <link type="text/css" href="/static/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css' />
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/static/js/jquery/js/jquery-1.7.2.min.js"></script>
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->
        <!--<script src="/static/js/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script>-->
        <script type="text/javascript" src="/static/js/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery/js/jquery-ui-timepicker.js"></script>
        <script type="text/javascript" src="/static/js/jquery.jscrollpane.js"></script>
        <script type="text/javascript" src="/static/js/base_specific.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script src="/static/js/html5shiv.js"></script><![endif]-->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28987362-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
        </script>
    
</head>
<style type="text/css">
    html{direction: ltr;}
    body{
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;  font-size: 13px; color:#999; line-height:1.4em; padding:0; margin:0;}
</style>
<body>
    
 <div class="main-container">
     <header id="header">
        <div class="inner">
            <div class="header-left">
                <div id="logo">
                        <a href="{% url home %}"> <img src="/static/images/citysom_logo.png" width="200" height="65" title="Citysome" alt="Citysom" /> </a>
                </div>
                <h2 class="oneliner" style='margin-top:1em;'>Find and share Boston's best events</h2>
                <a class="join-btn" href="/accounts/register/">Join Citysom <span>with your <img alt="Google" src="https://ssl.gstatic.com/schemer/v1/images/logo-google-white-sm.png"> account</span></a>
                <div class="exist-user-sign">Existing user? <a href="#">Sign in</a><span></span></div>
            </div>
            <div class="header-right">
                <div class="header-slider">
                    slider code
                </div>
            </div>
        </div>
     </header>
     <section id="outer-wrapper">
        <div class="wrapper">
            <div id="genpic2">
                <div class="main-heading color-gray ptb-15">Do you see yourself asking...I want to find something fun to do but just don't know where to look?"</div>
         		<div style="color:#4C4C4C; font-size:50px; text-align:center; font-weight:600; line-height:135px;">Introducing Citysom</div>
         		<!--<div class="main-heading color-gray" style="padding:15px; line-height40px;:">Finding top things to do become as easy as 1, 2, 3!</div>-->
         		<!--<div id="genprom2" style="color:#FF6600; font-size:22px; font-weight:bold; width:50%; text-align:center; padding:20px 30px; border-radius:5px;">
                            As easy as 1, 2, 3!
				</div> -->
                    <div id="gendesc2" style="display:inline-block; margin-bottom:10px;  color:#777777; width:100%; text-align:middle; padding:1em; font-size:2em; border-radius:5px; margin-top:0.25em;">
                            <section class="clear-both overflow-hidden" style='margin-bottom:2em;'>
                                    <div class="howitworks-text">
                                            <h1 class="main-heading">1. Pick a date</h1>
                                            <p class="main-text">Tell us when you want to get out. First click to let us know the earlier date you look for events, second click for the last date and let us do the magic.</p>
                                    </div>
                                    <div class="howitworks-pic">
                                            <img src="/media/images/calendar.png" />
                                    </div>
                            </section>
                            <section class="clear-both overflow-hidden" style='margin-bottom:17em;'>
                                    <div class="howitworks-text" style="float:right; margin-bottom:0px;">
                                            <h1 class="main-heading">2. Browse, get excited</h1>
                                            <p class="main-text">Browse through the results, maybe using the left column filters to help you further refine your criteria. <br><br>Found something interesting? Click on <strong>"More info"</strong> to know more about the event. <br><br>An event looks really amazing? Click on <strong>"Recommend"</strong> to help out other users, like you find the best events.</p>
                                    </div>
                                    <div class="howitworks-pic" style="float:left; ">
                                            <img src="/media/images/filtering2.png" style="margin-top:-1em;"/>
                                    </div>
                            </section>                           
                            <section class="clear-both overflow-hidden" style='margin-bottom:2em;'>
                                    <div class="howitworks-text" style="float:left; margin-top:1em;">
                                            <h1 class="main-heading">3. Enjoy!</h1>
                                            <p class="main-text">Now that you have found some cool stuff going on. Tell you friends about it and get prepared for your next time out!</p>
                                    </div>
                                    <div class="howitworks-pic" style="float:right;">
                                            <img src="/media/images/event2.png" />
                                    </div>
                            </section>	
            </div>
        </div>
     </section>
     <footer id="footer">
        <div class="zTpSzd">
            <a class="fright sLxfWd wveQ3d VIpgJd-TzA9Ye-eEGnhe" href="/accounts/register/">Join Schemer <span>with your <img alt="Google" src="https://ssl.gstatic.com/schemer/v1/images/logo-google-white-sm.png"> account</span></a><div class="cKY3Ic">
            <h1 style='color:#4C4C4C;'>Join Citysom today</h1>
            <!--<p class="color-white">Keep up with what your Google+ circles have done, and mobilize your crew to do schemes together.</p>-->
        </div>
        </div> 
     </footer>
 </div>   
    
    
    
    
    
    
    
</body>
</html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    