{% extends "base.html" %}

{% block title%} {{eventdetails.title}} {% endblock %}

{% block head_extras %}
	<meta property="fb:app_id" content="291495594293239"> 
	<meta property="og:type" content="website"> 
	<meta property="og:url" content="http://{{host}}/event/details/?id={{eventdetails.id}}">
	<meta property="og:site_name"  content="Citysom">
	<meta property="og:image"  content="http://{{host}}/static/images/{{eventdetails.event_poster}}">
	<meta property="og:title"  content="{{eventdetails.title}}">
	<meta property="og:description" content="{{eventdetails.description|striptags}}">
{% endblock %}
{% load replace %}
{% block content %}
	
<script type="text/javascript" src="/static/js/jquery.rating.js"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-b92ddcaa-509e-d0e0-397-b9dd14b75700"});</script>
<div class="detail_container">
		<div class="social_div">
			Share :
			<span class='st_facebook_large social_icons' displayText=''></span>
			<span class='st_twitter_large social_icons' displayText=''></span>
			<span class='st_googleplus_large social_icons' displayText=''></span>
			<span class='st_pinterest_large social_icons' displayText=''></span>
		</div>
	<div class="detail_title">
		{{eventdetails.title}}
	</div>
	<div class="rating-cell">
		<div class="rating-bar">&nbsp;</div>
		<div class="rating_pic">
			{% for star in total_stars%}
			<input name="averageratings" type="radio" class="star {split:2}" value="{{star}}" disabled="disabled" {% ifequal star average_ratings %}checked="checked"{% endifequal %}/>
			{%endfor%}
			{{comment_counter}} Ratings
		</div>
		<div class="rating-bar">&nbsp;</div>
	</div>
	
	<div class="event_details_address_box">
		<div style="font-weight:bold;color: grey;text-align: center;">Address</div>
		<hr class="orange_line">
		<div style="font-size:14px;color: grey; padding: 0px 10px;height: 100px;">{{eventdetails.location}}</div>
		<div id="detail_map"></div>
	</div>
	<div class="detail_mid_container">
		<div class="detail_left">
			<div class="detail_pic">
				<img src="/media/images/{{eventdetails.event_poster|cut:"images/"}}" alt="{{eventdetails.title}}"/>
					{% if user.is_authenticated %}
						<div style="margin-top: 10px;">
						{% assign unlike "no" %}
						{% for popularity in eventdetails.popularity_set.all %}
						{% if popularity.user_id == user.id %}
						<a href="/myprofile/popularity/?action=unlike&id={{eventdetails.id}}" class="like_link">
						<button class="misc_pres_unlike" style="width: 65px;">Unlike<img src="/static/images/btn_white_arr.png" alt="That's not good" /></button>
						</a>
						{% assign unlike "yes" %}
						{% endif %}
						{% endfor %}
						{% ifequal unlike "no" %}
						<a href="/myprofile/popularity/?action=like&id={{eventdetails.id}}" class="like_link">
						<button class="misc_pres_like" style="width: 65px;">Like<img src="/static/images/btn_white_arr.png" alt="That's good" /></button>
						</a>
						{% endifequal %}
						<div class="likes_count_div" style="display: none;"><div class="likes_arrow"></div><span class="likes_count">{{eventdetails.popularity_set.count}}</span></div>
						<a href='/myprofile/wishlist?action=add&id={{eventdetails.id}}'>
						<button class="misc_pres_more_info" style="margin-bottom:0.7em !important; width: 90px;">Bookmark<img src="/static/images/btn_white_arr.png" alt="Get more info" style="float:right; margin-right:5px; margin-top:4px;"/></button>
						</a>
						<div class="clear"></div>
						</div>
					{% endif %}
					<div><a href="http://{{eventdetails.eventwebsite|cut:"http://"}}" style="color: #FF6600; font-size:0.85em; margin-top:0.5em;" target="_blank">Go to event website</a></div>
			</div>
		</div>
		<div class="detail_right">
			<div class="description_head" style="color: #777777;">Description</div>
			<div class="common-text">
				{{eventdetails.description|safe}}
			</div>
		</div>
	</div>	
	<div id="event_scheduling">
			
			{% if eventdetails.schedule_type == "performance_based" %}
				{% if eventdetails.event_start_date1 != None %}
				<div class="event_details_box">
					<div class="event_dates">{{eventdetails.event_start_date1}} to {{eventdetails.event_completion_date1}}</div>
					<hr class="orange_line">
					<div class="event_program">
						<span style="text-decoration:underline; font-size:18px;">{{eventdetails.frequency1|lower|capfirst}}</span>:
					</div>
			
					{% if eventdetails.frequency1 == "ONCE" %}
						<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				
					{% elif eventdetails.frequency1 == "DAILY" %}
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
					{% elif eventdetails.frequency1 == "MONTHLY" %}
						<div class="event_program_2">
						{% if eventdetails.by_month1 == "1" %}
							on the First
						{% elif eventdetails.by_month1 == "2" %}
							on the Second
						{% elif eventdetails.by_month1 == "3" %}
							on the Third
						{% elif eventdetails.by_month1 == "4" %}
							on the Fourth
						{% else %}
							on  theLast
						{% endif %} {{eventdetails.by_monthday1}} of the month
						</div>
						<table class="table_hours" border="0">
							{% for performance in event_performance_values %}
								<tr>
									<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
									<td>${{performance.ticket_price}}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<div class="event_program_2">{% for days in eventdetails.by_day1.all %} {{days|truncatechars:5|slice:":3"}} {% endfor %}</div>
						<table class="table_hours" border="0">
							{% for performance in event_performance_values %}
								<tr>
									<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
									
								</tr>
								<tr><td>${{performance.ticket_price}}</td></tr>
							{% endfor %}
						</table>
					{% endif %}
				<div class="clear"></div>
			</div>	
			{% endif %}
			{% if eventdetails.event_start_date2 != None %}
			<div class="event_details_box">
					<div class="event_dates">{{eventdetails.event_start_date2}} to {{eventdetails.event_completion_date2}}</div>
					<hr class="orange_line">
					<div class="event_program">
						<span style="text-decoration:underline; font-size:18px;">{{eventdetails.frequency2|lower|capfirst}}</span>:
					</div>
			
				{% if eventdetails.frequency2 == "ONCE" %}
					<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				
				{% elif eventdetails.frequency2 == "DAILY" %}
				<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				{% elif eventdetails.frequency2 == "MONTHLY" %}
					<div class="event_program_2">
					{% if eventdetails.by_month2 == "1" %}
						on the First
					{% elif eventdetails.by_month2 == "2" %}
						on the Second
					{% elif eventdetails.by_month2 == "3" %}
						on the Third
					{% elif eventdetails.by_month2 == "4" %}
						on the Fourth
					{% else %}
						on  theLast
					{% endif %} {{eventdetails.by_monthday2}} of the month
					</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<div class="event_program_2">{% for days in eventdetails.by_day2.all %} {{days|truncatechars:5|slice:":3"}} {% endfor %}</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
				<div class="clear"></div>
			</div>
			{% endif %}
			{% if eventdetails.event_start_date3 != None %}
			<div class="event_details_box">
					<div class="event_dates">{{eventdetails.event_start_date3}} to {{eventdetails.event_completion_date3}}</div>
					<hr class="orange_line">
					<div class="event_program">
						<span style="text-decoration:underline; font-size:18px;">{{eventdetails.frequency3|lower|capfirst}}</span>:
					</div>
			
				{% if eventdetails.frequency3 == "ONCE" %}
					<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				
				{% elif eventdetails.frequency3 == "DAILY" %}
				<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				{% elif eventdetails.frequency3 == "MONTHLY" %}
					<div class="event_program_2">
					{% if eventdetails.by_month3 == "1" %}
						on the First
					{% elif eventdetails.by_month3 == "2" %}
						on the Second
					{% elif eventdetails.by_month3 == "3" %}
						on the Third
					{% elif eventdetails.by_month3 == "4" %}
						on the Fourth
					{% else %}
						on  theLast
					{% endif %} {{eventdetails.by_monthday3}} of the month
					</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<div class="event_program_2">{% for days in eventdetails.by_day3.all %} {{days3|truncatechars:5|slice:":3"}} {% endfor %}</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
				<div class="clear"></div>
			</div>
			{% endif %}
			{% if eventdetails.event_start_date4 != None %}
			<div class="event_details_box">
				<div class="event_dates">{{eventdetails.event_start_date4}} to {{eventdetails.event_completion_date4}}</div>
				<hr class="orange_line">
					<div class="event_program">
						<span style="text-decoration:underline; font-size:18px;">{{eventdetails.frequency4|lower|capfirst}}</span>:
					</div>
			
				{% if eventdetails.frequency4 == "ONCE" %}
					<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				
				
				{% elif eventdetails.frequency4 == "DAILY" %}
				<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
				</table>
				{% elif eventdetails.frequency4 == "MONTHLY" %}
					<div class="event_program_2">
					{% if eventdetails.by_month4 == "1" %}
						on the First
					{% elif eventdetails.by_month4 == "2" %}
						on the Second
					{% elif eventdetails.by_month4 == "3" %}
						on the Third
					{% elif eventdetails.by_month4 == "4" %}
						on the Fourth
					{% else %}
						on the Last
					{% endif %} {{eventdetails.by_monthday4}} of the month
					</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<div class="event_program_2">{% for days in eventdetails.by_day4.all %} {{days|truncatechars:5|slice:":3"}} {% endfor %}</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
				<div class="clear"></div>
			</div>	
			{% endif %}
				
				{% if eventdetails.event_start_date5 != None %}
				<div class="event_details_box">
					<div class="event_dates">{{eventdetails.event_start_date5}} to {{eventdetails.event_completion_date5}}</div>
					<hr class="orange_line">
					<div class="event_program">
						<span style="text-decoration:underline; font-size:18px;">{{eventdetails.frequency|lower|capfirst}}</span>:
					</div>
					
					{% if eventdetails.frequency == "ONCE" %}
					<table class="table_hours" border="0">
					{% for performance in event_performance_values %}
						<tr>
							<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
							<td>${{performance.ticket_price}}</td>
						</tr>
					{% endfor %}
					</table>
					<hr>
					
					{% elif eventdetails.frequency == "DAILY" %}
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
					<hr>
					
					{% elif eventdetails.frequency == "MONTHLY" %}
						<div class="event_program_2">
							{% if eventdetails.by_month == "1" %}
								on the first
							{% elif eventdetails.by_month == "2" %}
								on the second
							{% elif eventdetails.by_month == "3" %}
								on the third
							{% elif eventdetails.by_month == "4" %}
								on the fourth
							{% else %}
								on  theLast
							{% endif %} {{eventdetails.by_monthday}} of the month
						</div>
						<table class="table_hours" border="0">
							{% for performance in event_performance_values %}
								<tr>
									<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
									<td>${{performance.ticket_price}}</td>
								</tr>
							{% endfor %}
						</table>
						<hr>
					
					{% else %}
					<div class="event_program_2">{% for days in eventdetails.by_day.all %} {{days|truncatechars:5|slice:":3"}} {% endfor %}</div>
					<table class="table_hours" border="0">
						{% for performance in event_performance_values %}
							<tr>
								<td>{{performance.showtimes_start}} - {{performance.showtimes_end}}</td>
								<td>${{performance.ticket_price}}</td>
							</tr>
						{% endfor %}
					</table>
					{% endif %}
					<div class="clear"></div>
				</div>
				{% endif %}
			{% else %}
			<div class="event_details_box">
				<div class="event_dates">{{eventdetails.event_start_date}} to {{eventdetails.event_completion_date}}</div>
				<hr class="orange_line">
				<div class="event_program"><span style="text-decoration:underline;margin-left: 16px;">OPEN HOUR BASED</span></div>
				<table class="table_hours" border="0">
					{% if eventdetails.start_hours_on_monday %}
						<tr>
							<td>Mo.:</td>
							<td>{{eventdetails.start_hours_on_monday}} to {{eventdetails.end_hours_on_monday}}</td>
						</tr>
					{% endif %}
					{% if eventdetails.start_hours_on_tuesday %}
						<tr>
							<td>Tu.:</td>
							<td>{{eventdetails.start_hours_on_tuesday}} to {{eventdetails.end_hours_on_tuesday}}</td>
						</tr>
					{% endif %}
					{% if eventdetails.start_hours_on_wednesday %}
						<tr>
							<td>We.:</td>
							<td>{{eventdetails.start_hours_on_wednesday}} to {{eventdetails.end_hours_on_wednesday}}</td>
						</tr>	
					{% endif %}
					{% if eventdetails.start_hours_on_thursday %}
						<tr>
							<td>Th.:</td>
							<td>{{eventdetails.start_hours_on_thursday}} to {{eventdetails.end_hours_on_thursday}}</td>
						</tr>
					{% endif %}
					{% if eventdetails.start_hours_on_friday %}
						<tr>
							<td>Fr.:</td>
							<td>{{eventdetails.start_hours_on_friday}} to {{eventdetails.end_hours_on_friday}}</td>
						</tr>	
					{% endif %}
					{% if eventdetails.start_hours_on_saturday %}
						<tr>
							<td>Sa.:</td>
							<td>{{eventdetails.start_hours_on_saturday}} to {{eventdetails.end_hours_on_saturday}}</td>
						</tr>
					{% endif %}
					{% if eventdetails.start_hours_on_sunday %}
						<tr>
							<td>Su.:</td>
							<td>{{eventdetails.start_hours_on_sunday}} to {{eventdetails.end_hours_on_sunday}}</td>
						</tr>
					{% endif %}
						<tr>
							<td>Price $:</td>
							<td>{{oh_ticket_price}}</td>
						</tr>
				</table>
				{% if not eventdetails.start_hours_on_sunday and not eventdetails.start_hours_on_monday and not eventdetails.start_hours_on_tuesday and not eventdetails.start_hours_on_wednesday and not eventdetails.start_hours_on_thursday and not eventdetails.start_hours_on_friday and not eventdetails.start_hours_on_saturday %}
				    <span style="font-style:italic; margin-left:1em;">No show time information available</span>
				{% endif %}
			{% endif %}
				<div class="clear"></div>
			</div>		
			<div class="content-wrapper">
			<div class="prev_tit_2 clear-both">
		<div class="customer_reviews_arrow"></div>
		<div class="customer_reviews_div">Customer Reviews</div>
	</div>
	<div class="review-tube">		
		<div class="review_sort">
		    <div class="fright">
		    <div class="rate_show" style="float: left; width: auto !important;">
			<div class="rating" style="float: left;width:60px;margin-top: 5px;font-weight: bold; font-size:0.85em; color:#777777;">Sort by</div>
			    <div class="rating_pic" style="float: right;width: 110px;margin-left: 5px;font-weight: bold">
					{% if sort_type == "asc" %}
					<a href="/event/details/?id={{eventdetails.id}}&sort_type=desc" style="color: #000000; text-decoration: none;">
					{% else %}
					<a href="/event/details/?id={{eventdetails.id}}&sort_type=asc" style="color: #000000; text-decoration: none;">
					{% endif %}
					<span style="font-size: 0.85em; font-weight:bold; color:#777777;">Most recent</span>
					{% if sort_type == "asc" %}
				<img src="/static/images/up_arrow.png" alt="" style="margin-top: 0px;" />
					{% else %}
				<img src="/static/images/dwn_arrow.png" alt="" style="margin-top: 0px;" />
					{% endif %}
					</a>
				</div>
			</div>
		    <div class="lreview_sort fleft">
			<strong style="margin-top:5px;">
				{% if user.is_authenticated %}
					<a href="#ratings_form" class="write-a-review" id="ratings_link">write a review <!--<img src="/static/images/edit_icon.png" width="15px">--></a>
				{% else %}
					<a href="#ratings_form" style="color: #FF7920;" onclick="alert('Sorry ... You need to log in first to write a review');">Share your opinion  <img src="/static/images/edit_icon.png" width="15px"></a>
				{% endif %}
			</strong>
		    </div>
		    </div>
		</div>
		{% for comment in user_comments %}
		<div class="detail_review">
			<div class="detail_review_header">
				<div class="detail_review_title">
					{{comment.title}}
				</div>
				<div class="rating-star-tube">
					{% if comment.user_id == user.id and user.is_authenticated %}
					<div class="detail_review_options">
						<a href="javascript:void(0)" class="edit_review" rel="{{comment.id}}" title="Edit {{comment.title}}"><img src="/static/images/edit_icon.png"></a>
						<a href="/event/comment_delete?id={{comment.id}}&event_id={{eventdetails.id}}" class="delete_review" title="Delete {{comment.title}}"><img src="/static/images/delete_icon.png"></a>
					</div>
					{% endif %}
					<div class="detail_review_rating">
						{% for star in total_stars%}
							<input name="ratings_show{{comment.id}}" type="radio" class="star" value="{{star}}" disabled="disabled" {% ifequal star comment.ratings %}checked="checked"{% endifequal %}/>
						{%endfor%}
					</div>
				</div>
			</div>
			<div class="detail_review_content">{{comment.reviews}}</div>
			<div class="detail_review_by">
				- by {{comment.user.username}}
			</div>
		</div>
	{% endfor %}
	<div id="ratings_div">
		<form name="ratings_form" action="" method="post" class="ratings_form">
			{% csrf_token %}
			<a name="ratings_form"></a>
			{{ratings_form.title.errors}}
			<p>
				<label for="id_title">Summary:</label>
				{{ratings_form.title}}
			</p>
			{{ratings_form.ratings.errors}}
			<p>
				<label for="id_ratings">Rating:</label>
				<span style="display: inline-block; width:82%; float:right;">
					<input name="ratings" type="radio" class="star" value="1" id="id_ratings1"/>
					<input name="ratings" type="radio" class="star" value="2" id="id_ratings2"/>
					<input name="ratings" type="radio" class="star" value="3" id="id_ratings3"/>
					<input name="ratings" type="radio" class="star" value="4" id="id_ratings4"/>
					<input name="ratings" type="radio" class="star" value="5" id="id_ratings5"/>
				</span>
			</p>
			{{ratings_form.reviews.errors}}
			<p>
				<label for="id_reviews">Your opinion:</label>
				{{ratings_form.reviews}}
			</p>
			<p>
				<div style="display:block; margin-top:4em;">
					<input type="hidden" name="id" id="comment_id" value="">
					<input type="button" value="Cancel" class="custom_submit btn btn-primary" style="float:left; margin-left:100px; width:35%;" id="discard">
					<input type="submit" value="Share!" class="custom_submit btn btn-warning " style="float:right; margin-left:20px; width:35%;">
				
					{% comment %}<button class="btn btn-warning" value="Cancel" type="button" style="float:left; margin-left:7em; width:35%;">Cancel</button>
				<button class=" btn btn-primary" value="Share" type="submit" style="float:right; margin-right:17px; width:35%;">Share!</button>{% endcomment %}
				</div>
				
				
				
			</p>
		</form>
		</div>
		</div>
	</div>
	</div>		
	</div>
	
</div>
<script>
	$("#ratings_link,#discard").click(function(){
		document.ratings_form.reset();
		$("#comment_id").val("");
		$("#ratings_div").toggle();
		$("#latest_events").toggle();
	});
	$(".edit_review").click(function(){
		comment_id = $(this).attr("rel");
		var title_div = $(this).parent();
		var title = title_div.children("strong").html();
		var rating_div = title_div.parent();
		var rating = rating_div.children(".rating_pic").children("input.star:checked").val();
		var review_div = rating_div.parent();
		var review = review_div.children(".event_text").children("p").html();
		
		$("#comment_id").val(comment_id);
		$("#id_title").val(title);
		$('input[name="ratings"]').rating('select',rating);
		$("#id_reviews").val(review);
		
		$("#latest_events").hide();
		$("#ratings_div").show();
	});
	$(".delete_review").click(function(e){
		if(!confirm('Are you sure you want to delete this ?'))
		{
			e.preventDefault();
		}
	});
	jQuery("li.misc_pres").live("mouseover",function(){$(this).children("div.like_div").show();});
	jQuery("li.misc_pres").live("mouseout",function(){$(this).children("div.like_div").hide();});
	jQuery("a.like_link").live("click", function(e){
		e.preventDefault();
		url = jQuery(this).attr("href");
		link_object = $(this);
		jQuery.get(url,function(data){
			parent = link_object.parent();
			//default_background_color = jQuery("div.likes_count_div", parent).css("backgroundColor");
			//default_border_right = jQuery("div.likes_arrow", parent).css("borderRightColor");
			//jQuery("span.likes_count", parent).html("+1");
			//jQuery("div.likes_count_div", parent).show();
			//jQuery("div.likes_count_div", parent).show();
			//jQuery("div.likes_count_div", parent).animate({"backgroundColor":"#FF6600"}, 500).delay(10000).animate({"backgroundColor":default_background_color}, 500);
			//jQuery("div.likes_arrow", parent).animate({"borderRightColor":"#FF6600"}, 500).delay(10000).animate({"borderRightColor":default_border_right}, 500, function(){$("span.likes_count", parent).html(data);$("div.likes_count_div", parent).hide();});
			$("span.likes_count", parent).html(data);
			var old_link = link_object.attr("href");
			var button_obj = link_object.children("button");
			if(button_obj.attr("class") == "misc_pres_like")
			{
				button_obj.removeClass("misc_pres_like");
				button_obj.addClass("misc_pres_unlike");
				button_obj.html("Unlike<img src=\"/static/images/btn_white_arr.png\" alt=\"That's not good\" />");
				var new_link = old_link.replace("like","unlike");
				link_object.attr("href",new_link);
			}
			else
			{
				button_obj.removeClass("misc_pres_unlike");
				button_obj.addClass("misc_pres_like");
				button_obj.html("Like<img src=\"/static/images/btn_white_arr.png\" alt=\"That's good\" />");
				var new_link = old_link.replace("unlike","like");
				link_object.attr("href",new_link);
			}
		});
	});
	jQuery("a.like_link").live("mouseover",function(){jQuery("div.likes_count_div", $(this).parent()).show();});
	jQuery("a.like_link").live("mouseout",function(){
	if(jQuery("span.likes_count", jQuery(this).parent()).html()!="+1")
		{
			jQuery("div.likes_count_div", $(this).parent()).hide();
		}
	});
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 9,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false
    }
    map = new google.maps.Map(document.getElementById('detail_map'), mapOptions);
  }

  function codeAddress(address) {
	normal_icon = "/static/images/marker_star.png";
	hover_icon = "/static/images/marker_star_highlight.png";
	geocoder.geocode({'address': address}, function(results, status){
		if (status == google.maps.GeocoderStatus.OK)
		{
			map.setCenter(results[0].geometry.location);
			var marker = new google.maps.Marker({
				map: map,
				position: results[0].geometry.location,
				icon: normal_icon
			});
			google.maps.event.addListener(marker, 'mouseover', function() {
				marker.setIcon(hover_icon);
			});
			google.maps.event.addListener(marker, 'mouseout', function() {
				marker.setIcon(normal_icon);
			});
		}
		else
		{
			alert('Geocode was not successful for the following reason: ' + status);
		}
	});
  }
  initialize();
  codeAddress("{{eventdetails.location}}")
</script>

{% if ratings_form.errors  %}
	<script>
		$("#ratings_link").click();
	</script>
{% endif %}
{% for detail in event_performance %}
	{{detial}}
{% endfor %}
{% endblock %}