<ul>
 	{% for event in events %}
		<li class="misc_pres">
			<a href="/event/details?id={{event.id}}">
				<div class="misc_pres_img">
					<img src="/media/images/{{event.event_poster}}" alt="{{event.title}}"/>
				</div>
				<h4>{{event.title}}</h4>
			</a>
			{% if user.is_authenticated %}
			<div class="like_div" style="display: none;">
				<a href="/myprofile/popularity/?action=like&id={{event.id}}">
					<img src="/static/images/like.png" alt="LIKE">
					<span>{{event.popularity_set.count}} people likes this</span>
				</a>
			</div>
			{% endif %}
		</li>             		
 	{% endfor %}
</ul>