{% if page ==  0 %}
<div id="pres_date_selected">
	<div id="pres_date_cont">
		{%if date_end %}
		<p style="margin-left:0.6em; font-size:1.2em; line-height: 1.7em; font-weight:normal; color: #4C4C4C;">See events for {{date_start|date:"M d Y"}} to {{date_end|date:"M d Y"}}</p>
    	{%else%}
    	<p style="margin-left:0.6em; font-size:1.2em; line-height: 1.7em; font-weight:normal; color: #4C4C4C;">See events for {{date_start|date:"M d Y"}}</p>
    	{%endif%}
	</div>
</div>
{% endif %}
<ul>
 	{% for event in events %}
		<li class="misc_pres event_container_{{event.id}} {% cycle "" "" "misc_pres_last" %}">
			<div class="misc_pres_container">
				<div class="misc_pres_img">
					<img src="/media/images/{{event.event_poster|cut:"images/"}}" style="position:absolute;" onload="OnImageLoad(event);" alt="{{event.title}}"/>
					<!--<table id="misc_pres_wrapper">
						<tr>
							<td><img src="/media/images/{{event.event_poster}}" style="position:absolute;" onload="OnImageLoad(event);" alt="{{event.title}}"/></td>
						</tr>
					</table>-->
					
				</div>
				<div class="misc_pres_comment">
					<h4>{{event.title}}</h4>
					<h6><p>{{event.description|safe}}</p></h6>
				</div>
				<div class="misc_pres_actions">
					
				</div>
			</div>
			<div class="misc_pres_button">
				<hr>
				<a href="#id={{event.id}}">
					<button class="misc_pres_more_info" onclick="document.location.href='/event/details?id={{event.id}}';">More info <img src="/static/images/btn_white_arr.png" alt="Get more info" style="float:right; margin-right:5px; margin-top:4px;"/></button>
				</a>
				{% if user.is_authenticated %}
				<a href="/myprofile/popularity/?action=like&id={{event.id}}" class="like_link">
					<button class="misc_pres_like">   Recommend   <img src="/static/images/btn_white_arr.png" alt="That's good" /></button>
				</a>
				<div class="likes_count_div" style="display: none;"><div class="likes_arrow"></div><span class="likes_count">{{event.popularity_set.count}}</span></div>
				{% endif %}
			</div>
	<!--
			{% if user.is_authenticated %}
			<div class="like_div" style="display: none;">
				<a href="/myprofile/popularity/?action=like&id={{event.id}}">
					<img src="/static/images/like.png" alt="LIKE">
					<span>{{event.popularity_set.count}} people likes this</span>
				</a>
			</div>
			{% endif %}
		-->
		</li>             		
 	{% endfor %}
</ul>