{% extends "base.html" %}

{% block title %}Create an event{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        plugins:"table",
        theme_advanced_buttons1:"bold,italic,underline,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,undo,redo,bullist,numlist,outdent,indent,cut,copy,paste,image",
        theme_advanced_buttons2: "tablecontrols",
        theme_advanced_buttons3:"",
        skin : "o2k7",
        skin_variant : "silver"
});
</script>
<div class="cre_event">Create an event</div>
 
        <div class="datearea">
                
                
        </div>
        <div class="clear"></div>
<div id="login">
			<form id="eventposter-form" action="/event/upload_image/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload_image">
                <img src="/static/images/upload.png" width="196" height="270" alt="Poster" id="poster_image" />
                {{eventform_poster.event_poster_file}}
                <input type="button" id="upload_link" value="Upload Poster" >
            </div>
            </form>
            {% if form.errors %}
			<p class="mainerror">Please correct the errors below {{ eventform.non_field_errors }}</p>
			{% endif %}
            <div class="login_content">
                  <form id="event-form" action="" method="POST" enctype="multipart/form-data">
                  	{% csrf_token %}
                    <div class="width-60 fltlft">
                         <fieldset class="adminform">
                            <ul class="adminformlist" style="list-style: none;">
                            	<li class="formlist1">
                                	{% if eventform.title.errors %}
								    	<p class="error">{{ eventform.title.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Event Title:</b>
                                    {{eventform.title}}
                                </li>
                                <li class="formlist1">
                                	{% if eventform.venue_name.errors %}
								    	<p class="error">{{ eventform.venue_name.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Venue Name:</b>
                                    {{eventform.venue_name}}
                                </li>
                                
                                <li class="formlist1">
                                	{% if eventform.street_address.errors %}
								    	<p class="error">{{ eventform.street_address.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Street Address:</b>
                                    {{eventform.street_address}}
                                </li>
                                
                                <li class="formlist1">
                                		<div id="venue_map" style="margin: 10px; height: 300px;"></div>
                                </li>
                                <li class="formlist1 performance_schedule1">
                                	{% if eventform.date_started.errors %}
								    	<p class="error">{{ eventform.date_started.errors|join:", "  }}</p>
								  	{% endif %}
                                   <b>Event start date:</b>
                                   {{eventform.date_started}}
                                </li>
                                <li class="formlist1 performance_schedule1">
                                	{% if eventform.date_completed.errors %}
								    	<p class="error">{{ eventform.date_completed.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Event end date:</b>
                                    {{eventform.date_completed}} 
                                </li>
                                <!--<li class="formlist1">
                                	{% if eventform.event_duration.errors %}
								    	<p class="error">{{ eventform.event_duration.errors|join:", "  }}</p>
								  	{% endif %}
                                  <b>Event Duration:</b>
                                   {{eventform.event_duration}} 
                                </li>-->
                                <li class="formlist1 left_aligned_radios performance_schedule1">
                                	{% if eventform.schedule_type.errors %}
								    	<p class="error">{{ eventform.schedule_type.errors|join:", "  }}</p>
								  	{% endif %}
                                  <b>Schedule Type:</b>
                                   {{eventform.schedule_type}} 
                                </li>
                                
                                
                                <li class="formlist1 open_hours_div performance_schedule1" style="margin-top: 20px;">
                            <b style="float:left;">Event Start Hours:</b>
                                   
                   <div id="start_hour">

                       <div class="start_left">
                           <span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
                             {% if eventform.start_hours_on_monday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_monday.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_monday.errors %}
				    		 <p class="error">{{ eventform.end_hours_on_monday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Mondays:</label>
                             {{eventform.start_hours_on_monday}} 
				    	     {{eventform.end_hours_on_monday}} 
                             <input type="checkbox" name="monday_checkbox" id="id_monday_checkbox" class="uni" value="Mondays" style="margin-left:7px;" rel="monday"/><br />
                             
                             
                             {% if eventform.start_hours_on_tuesday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_tuesday.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_tuesday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_tuesday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Tuesdays:</label>
                             {{eventform.start_hours_on_tuesday}}
                             {{eventform.end_hours_on_tuesday}} 
                             <input type="checkbox" name="tuesday_checkbox" id="id_tuesday_checkbox" class="uni" value="Tuesdays" style="margin-left:7px;" rel="tuesday"/><br />
                            
							 {% if eventform.start_hours_on_wednesday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_wednesday.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_wednesday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_wednesday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Wednesdays:</label>
                             {{eventform.start_hours_on_wednesday}} 
                             {{eventform.end_hours_on_wednesday}} 
                             <input type="checkbox" name="wednesday_checkbox" id="id_wednesday_checkbox" class="uni" value="Wednesdays" style="margin-left:7px;" rel="wednesday"/><br />
				  		</div>
				  		<div class="start_right">
				  			<span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
				  			 {% if eventform.start_hours_on_thursday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_thursday.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_thursday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_thursday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Thursdays:</label>
                             {{eventform.start_hours_on_thursday}} 
				    	     {{eventform.end_hours_on_thursday}} 
                             <input type="checkbox" name="thursday_checkbox" id="id_thursday_checkbox" class="uni" value="Thursdays" style="margin-left:7px;" rel="thursday"/><br />
							 
							 {% if eventform.start_hours_on_friday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_friday.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_friday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_friday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Fridays:</label>
                             {{eventform.start_hours_on_friday}} 
                             {{eventform.end_hours_on_friday}} 
                             <input type="checkbox" name="friday_checkbox" id="id_friday_checkbox" class="uni" value="Fridays" style="margin-left:7px;" rel="friday"/><br />
							 
							 {% if eventform.start_hours_on_saturday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_saturday.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_saturday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_saturday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Saturdays:</label>
                             {{eventform.start_hours_on_saturday}} 
                             {{eventform.end_hours_on_saturday}} 
                             <input type="checkbox" name="saturday_checkbox" id="id_saturday_checkbox" class="uni" value="Saturdays" style="margin-left:7px;" rel="saturday"/><br />
							 
							 {% if eventform.start_hours_on_sunday.errors %}
				    			<p class="error">{{ eventform.start_hours_on_sunday.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_sunday.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_sunday.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Sundays:</label>
                             {{eventform.start_hours_on_sunday}} 
                             {{eventform.end_hours_on_sunday}} 
                             <input type="checkbox" name="sunday_checkbox" id="id_sunday_checkbox" class="uni" value="Sundays" style="margin-left:7px;" rel="sunday"/><br />
						</div>
                   </div>
                      <!--<li class="formlist1">
                                	{% if eventform.event_poster.errors %}
								    	<p class="error">{{ eventform.event_poster.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Event end date:</b>
                                    {{eventform.event_poster}} 
                       </li>-->       
                      <div class="clear"></div>
                             
                        </li>
                        <li class="formlist1 performance_hours_div performance_schedule1">
                        	{% if eventform.frequency.errors %}
						    	<p class="error">{{ eventform.frequency.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Repeats:</b>
                            {{eventform.frequency}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule1">
                        	{% if eventform.interval.errors %}
						    	<p class="error">{{ eventform.interval.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.interval}} 
                        	
                        </li>
                        
                        <li class="formlist1 performance_hours_div repeat_div performance_schedule1">
                        	{% if eventform.frequency.errors %}
						    	<p class="error">{{ eventform.repeat_on.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.repeat_on}} 
                        </li>
             
                        <li class="formlist1 performance_hours_div performance_schedule1">
                        	{% if eventform.event_start_hours.errors %}
						    	<p class="error">{{ eventform.event_start_hours.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Start Hours:</b>
                            {{eventform.event_start_hours}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule1">
                        	{% if eventform.event_end_hours.errors %}
						    	<p class="error">{{ eventform.event_end_hours.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event End hours:</b>
                            {{eventform.event_end_hours}} 
                        </li>
                        
                        <li class="formlist1 performance_schedule2">
                                	{% if eventform.date_started_option1.errors %}
								    	<p class="error">{{ eventform.date_started_option1.errors|join:", "  }}</p>
								  	{% endif %}
                                   <b>Event start date:</b>
                                   {{eventform.date_started_option1}}
                                </li>
                                <li class="formlist1 performance_schedule2">
                                	{% if eventform.date_completed_option1.errors %}
								    	<p class="error">{{ eventform.date_completed_option1.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Event end date:</b>
                                    {{eventform.date_completed_option1}} 
                                </li>
                                <li class="formlist1 left_aligned_radios performance_schedule2">
                                	{% if eventform.schedule_type_option1.errors %}
								    	<p class="error">{{ eventform.schedule_type_option1.errors|join:", "  }}</p>
								  	{% endif %}
                                  <b>Schedule Type:</b>
                                   {{eventform.schedule_type_option1}} 
                                </li>
                                
                                
                                <li class="formlist1 open_hours_div performance_schedule2" style="margin-top: 20px;">
                            <b style="float:left;">Event Start Hours:</b>
                                   
                   <div id="start_hour">

                       <div class="start_left">
                           <span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
                             {% if eventform.start_hours_on_monday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_monday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_monday_option1.errors %}
				    		 <p class="error">{{ eventform.end_hours_on_monday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Mondays:</label>
                             {{eventform.start_hours_on_monday_option1}} 
				    	     {{eventform.end_hours_on_monday_option1}} 
                             <input type="checkbox" name="monday_checkbox" id="id_monday_checkbox" class="uni" value="Mondays" style="margin-left:7px;" rel="monday1"/><br />
                             
                             
                             {% if eventform.start_hours_on_tuesday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_tuesday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_tuesday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_tuesday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Tuesdays:</label>
                             {{eventform.start_hours_on_tuesday_option1}}
                             {{eventform.end_hours_on_tuesday_option1}} 
                             <input type="checkbox" name="tuesday_checkbox" id="id_tuesday_checkbox" class="uni" value="Tuesdays" style="margin-left:7px;" rel="tuesday1"/><br />
                            
							 {% if eventform.start_hours_on_wednesday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_wednesday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_wednesday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_wednesday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Wednesdays:</label>
                             {{eventform.start_hours_on_wednesday_option1}} 
                             {{eventform.end_hours_on_wednesday_option1}} 
                             <input type="checkbox" name="wednesday_checkbox" id="id_wednesday_checkbox" class="uni" value="Wednesdays" style="margin-left:7px;" rel="wednesday1"/><br />
				  		</div>
				  		<div class="start_right">
				  			<span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
				  			 {% if eventform.start_hours_on_thursday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_thursday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_thursday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_thursday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Thursdays:</label>
                             {{eventform.start_hours_on_thursday_option1}} 
				    	     {{eventform.end_hours_on_thursday_option1}} 
                             <input type="checkbox" name="thursday_checkbox" id="id_thursday_checkbox" class="uni" value="Thursdays" style="margin-left:7px;" rel="thursday1"/><br />
							 
							 {% if eventform.start_hours_on_friday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_friday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_friday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_friday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Fridays:</label>
                             {{eventform.start_hours_on_friday_option1}} 
                             {{eventform.end_hours_on_friday_option1}} 
                             <input type="checkbox" name="friday_checkbox" id="id_friday_checkbox" class="uni" value="Fridays" style="margin-left:7px;" rel="friday1"/><br />
							 
							 {% if eventform.start_hours_on_saturday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_saturday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_saturday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_saturday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Saturdays:</label>
                             {{eventform.start_hours_on_saturday_option1}} 
                             {{eventform.end_hours_on_saturday_option1}} 
                             <input type="checkbox" name="saturday_checkbox" id="id_saturday_checkbox" class="uni" value="Saturdays" style="margin-left:7px;" rel="saturday1"/><br />
							 
							 {% if eventform.start_hours_on_sunday_option1.errors %}
				    			<p class="error">{{ eventform.start_hours_on_sunday_option1.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_sunday_option1.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_sunday_option1.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Sundays:</label>
                             {{eventform.start_hours_on_sunday_option1}} 
                             {{eventform.end_hours_on_sunday_option1}} 
                             <input type="checkbox" name="sunday_checkbox" id="id_sunday_checkbox" class="uni" value="Sundays" style="margin-left:7px;" rel="sunday1"/><br />
						</div>
                   </div>
                      <!--<li class="formlist1">
                                	{% if eventform.event_poster.errors %}
								    	<p class="error">{{ eventform.event_poster.errors|join:", "  }}</p>
								  	{% endif %}
                                    <b>Event end date:</b>
                                    {{eventform.event_poster}} 
                       </li>-->       
                      <div class="clear"></div>
                             
                        </li>
                        <li class="formlist1 performance_hours_div performance_schedule2">
                        	{% if eventform.frequency_option1.errors %}
						    	<p class="error">{{ eventform.frequency_option1.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Repeats:</b>
                            {{eventform.frequency_option1}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule2">
                        	{% if eventform.interval_option1.errors %}
						    	<p class="error">{{ eventform.interval_option1.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.interval_option1}} 
                        	
                        </li>
                        
                        <li class="formlist1 performance_hours_div repeat_div performance_schedule2">
                        	{% if eventform.repeat_on_option1.errors %}
						    	<p class="error">{{ eventform.repeat_on_option1.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.repeat_on_option1}} 
                        </li>
             
                        <li class="formlist1 performance_hours_div performance_schedule2">
                        	{% if eventform.event_start_hours_option1.errors %}
						    	<p class="error">{{ eventform.event_start_hours_option1.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Start Hours:</b>
                            {{eventform.event_start_hours_option1}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule2">
                        	{% if eventform.event_end_hours_option1.errors %}
						    	<p class="error">{{ eventform.event_end_hours_option1.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event End hours:</b>
                            {{eventform.event_end_hours_option1}} 
                        </li>
                        <li class="formlist1 performance_schedule3">
                                	{% if eventform.date_started_option3.errors %}
								    	<p class="error">{{ eventform.date_started_option2.errors|join:", "  }}</p>
								  	{% endif %}
                                   <b>Event start date:</b>
                                   {{eventform.date_started_option2}}
                                </li>
			<li class="formlist1 performance_schedule3">
				{% if eventform.date_completed_option2.errors %}
								<p class="error">{{ eventform.date_completed_option2.errors|join:", "  }}</p>
								{% endif %}
			    <b>Event end date:</b>
			    {{eventform.date_completed_option2}} 
			</li>
			<li class="formlist1 left_aligned_radios performance_schedule3">
				{% if eventform.schedule_type_option2.errors %}
								<p class="error">{{ eventform.schedule_type_option2.errors|join:", "  }}</p>
								{% endif %}
			  <b>Schedule Type:</b>
			   {{eventform.schedule_type_option2}} 
			</li>
			
			
			<li class="formlist1 open_hours_div performance_schedule3" style="margin-top: 20px;">
                            <b style="float:left;">Event Start Hours:</b>
                                   
                   <div id="start_hour">

                       <div class="start_left">
                           <span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
                             {% if eventform.start_hours_on_monday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_monday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_monday_option2.errors %}
				    		 <p class="error">{{ eventform.end_hours_on_monday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Mondays:</label>
                             {{eventform.start_hours_on_monday_option2}} 
				    	     {{eventform.end_hours_on_monday_option2}} 
                             <input type="checkbox" name="monday_checkbox" id="id_monday_checkbox" class="uni" value="Mondays" style="margin-left:7px;" rel="monday2"/><br />
                             
                             
                             {% if eventform.start_hours_on_tuesday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_tuesday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_tuesday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_tuesday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Tuesdays:</label>
                             {{eventform.start_hours_on_tuesday_option2}}
                             {{eventform.end_hours_on_tuesday_option2}} 
                             <input type="checkbox" name="tuesday_checkbox" id="id_tuesday_checkbox" class="uni" value="Tuesdays" style="margin-left:7px;" rel="tuesday2"/><br />
                            
							 {% if eventform.start_hours_on_wednesday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_wednesday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_wednesday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_wednesday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Wednesdays:</label>
                             {{eventform.start_hours_on_wednesday_option2}} 
                             {{eventform.end_hours_on_wednesday_option2}} 
                             <input type="checkbox" name="wednesday_checkbox" id="id_wednesday_checkbox" class="uni" value="Wednesdays" style="margin-left:7px;" rel="wednesday2"/><br />
				  		</div>
				  		<div class="start_right">
				  			<span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
				  			 {% if eventform.start_hours_on_thursday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_thursday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_thursday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_thursday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Thursdays:</label>
                             {{eventform.start_hours_on_thursday_option2}} 
				    	     {{eventform.end_hours_on_thursday_option2}} 
                             <input type="checkbox" name="thursday_checkbox" id="id_thursday_checkbox" class="uni" value="Thursdays" style="margin-left:7px;" rel="thursday2"/><br />
							 
							 {% if eventform.start_hours_on_friday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_friday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_friday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_friday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Fridays:</label>
                             {{eventform.start_hours_on_friday_option2}} 
                             {{eventform.end_hours_on_friday_option2}} 
                             <input type="checkbox" name="friday_checkbox" id="id_friday_checkbox" class="uni" value="Fridays" style="margin-left:7px;" rel="friday2"/><br />
							 
							 {% if eventform.start_hours_on_saturday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_saturday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_saturday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_saturday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Saturdays:</label>
                             {{eventform.start_hours_on_saturday_option2}} 
                             {{eventform.end_hours_on_saturday_option2}} 
                             <input type="checkbox" name="saturday_checkbox" id="id_saturday_checkbox" class="uni" value="Saturdays" style="margin-left:7px;" rel="saturday2"/><br />
							 
							 {% if eventform.start_hours_on_sunday_option2.errors %}
				    			<p class="error">{{ eventform.start_hours_on_sunday_option2.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_sunday_option2.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_sunday_option2.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Sundays:</label>
                             {{eventform.start_hours_on_sunday_option2}} 
                             {{eventform.end_hours_on_sunday_option2}} 
                             <input type="checkbox" name="sunday_checkbox" id="id_sunday_checkbox" class="uni" value="Sundays" style="margin-left:7px;" rel="sunday2"/><br />
						</div>
                   </div>
                      <div class="clear"></div>
                             
                        </li>
                        <li class="formlist1 performance_hours_div performance_schedule3">
                        	{% if eventform.frequency_option2.errors %}
						    	<p class="error">{{ eventform.frequency_option2.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Repeats:</b>
                            {{eventform.frequency_option2}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule3">
                        	{% if eventform.interval_option2.errors %}
						    	<p class="error">{{ eventform.interval_option2.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.interval_option2}} 
                        	
                        </li>
                        
                        <li class="formlist1 performance_hours_div repeat_div performance_schedule3">
                        	{% if eventform.repeat_on_option2.errors %}
						    	<p class="error">{{ eventform.repeat_on_option2.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.repeat_on_option2}} 
                        </li>
             
                        <li class="formlist1 performance_hours_div performance_schedule3">
                        	{% if eventform.event_start_hours_option2.errors %}
						    	<p class="error">{{ eventform.event_start_hours_option2.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Start Hours:</b>
                            {{eventform.event_start_hours_option2}} 
                        </li>
			<li class="formlist1 performance_schedule4">
                                	{% if eventform.date_started_option3.errors %}
								    	<p class="error">{{ eventform.date_started_option3.errors|join:", "  }}</p>
								  	{% endif %}
                                   <b>Event start date:</b>
                                   {{eventform.date_started_option3}}
                                </li>
			<li class="formlist1 performance_schedule4">
				{% if eventform.date_completed_option3.errors %}
								<p class="error">{{ eventform.date_completed_option3.errors|join:", "  }}</p>
								{% endif %}
			    <b>Event end date:</b>
			    {{eventform.date_completed_option3}} 
			</li>
			<li class="formlist1 left_aligned_radios performance_schedule4">
				{% if eventform.schedule_type_option3.errors %}
								<p class="error">{{ eventform.schedule_type_option3.errors|join:", "  }}</p>
								{% endif %}
			  <b>Schedule Type:</b>
			   {{eventform.schedule_type_option3}} 
			</li>
			
			
			<li class="formlist1 open_hours_div performance_schedule4" style="margin-top: 20px;">
                            <b style="float:left;">Event Start Hours:</b>
                                   
                   <div id="start_hour">

                       <div class="start_left">
                           <span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
                             {% if eventform.start_hours_on_monday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_monday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_monday_option3.errors %}
				    		 <p class="error">{{ eventform.end_hours_on_monday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Mondays:</label>
                             {{eventform.start_hours_on_monday_option3}} 
				    	     {{eventform.end_hours_on_monday_option3}} 
                             <input type="checkbox" name="monday_checkbox" id="id_monday_checkbox" class="uni" value="Mondays" style="margin-left:7px;" rel="monday3"/><br />
                             
                             
                             {% if eventform.start_hours_on_tuesday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_tuesday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_tuesday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_tuesday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Tuesdays:</label>
                             {{eventform.start_hours_on_tuesday_option3}}
                             {{eventform.end_hours_on_tuesday_option3}} 
                             <input type="checkbox" name="tuesday_checkbox" id="id_tuesday_checkbox" class="uni" value="Tuesdays" style="margin-left:7px;" rel="tuesday3"/><br />
                            
							 {% if eventform.start_hours_on_wednesday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_wednesday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_wednesday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_wednesday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Wednesdays:</label>
                             {{eventform.start_hours_on_wednesday_option3}} 
                             {{eventform.end_hours_on_wednesday_option3}} 
                             <input type="checkbox" name="wednesday_checkbox" id="id_wednesday_checkbox" class="uni" value="Wednesdays" style="margin-left:7px;" rel="wednesday3"/><br />
				  		</div>
				  		<div class="start_right">
				  			<span style="float: right; height: 20px; margin-top: 10px; font-weight: bold; font-style:italic;font-size:12px;">Full day</span>
                            <div class="clear"></div>
				  			 {% if eventform.start_hours_on_thursday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_thursday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
				  			 {% if eventform.end_hours_on_thursday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_thursday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Thursdays:</label>
                             {{eventform.start_hours_on_thursday_option3}} 
				    	     {{eventform.end_hours_on_thursday_option3}} 
                             <input type="checkbox" name="thursday_checkbox" id="id_thursday_checkbox" class="uni" value="Thursdays" style="margin-left:7px;" rel="thursday3"/><br />
							 
							 {% if eventform.start_hours_on_friday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_friday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_friday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_friday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Fridays:</label>
                             {{eventform.start_hours_on_friday_option3}} 
                             {{eventform.end_hours_on_friday_option3}} 
                             <input type="checkbox" name="friday_checkbox" id="id_friday_checkbox" class="uni" value="Fridays" style="margin-left:7px;" rel="friday3"/><br />
							 
							 {% if eventform.start_hours_on_saturday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_saturday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_saturday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_saturday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Saturdays:</label>
                             {{eventform.start_hours_on_saturday_option3}} 
                             {{eventform.end_hours_on_saturday_option3}} 
                             <input type="checkbox" name="saturday_checkbox" id="id_saturday_checkbox" class="uni" value="Saturdays" style="margin-left:7px;" rel="saturday3"/><br />
							 
							 {% if eventform.start_hours_on_sunday_option3.errors %}
				    			<p class="error">{{ eventform.start_hours_on_sunday_option3.errors|join:", "  }}</p>
				  			 {% endif %}
                             {% if eventform.end_hours_on_sunday_option3.errors %}
				    		 	<p class="error">{{ eventform.end_hours_on_sunday_option3.errors|join:", "  }}</p>
				    	     {% endif %}
                             <label>Sundays:</label>
                             {{eventform.start_hours_on_sunday_option3}} 
                             {{eventform.end_hours_on_sunday_option3}} 
                             <input type="checkbox" name="sunday_checkbox" id="id_sunday_checkbox" class="uni" value="Sundays" style="margin-left:7px;" rel="sunday3"/><br />
						</div>
                   </div>
                      <div class="clear"></div>
                             
                        </li>
                        <li class="formlist1 performance_hours_div performance_schedule4">
                        	{% if eventform.frequency_option3.errors %}
						    	<p class="error">{{ eventform.frequency_option3.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Repeats:</b>
                            {{eventform.frequency_option3}} 
                        </li>
                        
                        <li class="formlist1 performance_hours_div performance_schedule4">
                        	{% if eventform.interval_option3.errors %}
						    	<p class="error">{{ eventform.interval_option3.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.interval_option3}} 
                        	
                        </li>
                        
                        <li class="formlist1 performance_hours_div repeat_div performance_schedule4">
                        	{% if eventform.repeat_on_option3.errors %}
						    	<p class="error">{{ eventform.repeat_on_option3.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Repeat Every:</b>
                            {{eventform.repeat_on_option3}} 
                        </li>
             
                        <li class="formlist1 performance_hours_div performance_schedule4">
				{% if eventform.event_start_hours_option3.errors %}
						    	<p class="error">{{ eventform.event_start_hours_option3.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event Start Hours:</b>
                            {{eventform.event_start_hours_option3}} 
                        </li>
			<li class="formlist1">
                        	{% if eventform.event_ticket_price.errors %}
						    	<p class="error">{{ eventform.event_ticket_price.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Full price ticket:</b>
                            {{eventform.event_ticket_price}} 
                        </li>
                        <li class="formlist1">
                        	{% if eventform.eventwebsite.errors %}
						    	<p class="error">{{ eventform.eventwebsite.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Event website:</b>
                            {{eventform.eventwebsite}} 
                        </li>
			<li class="formlist1">
				<div style="text-align: right;">
					<a href="javascript:void(0)" class="add_schedule custom_link">Add Another Schedule</a>
				</div>
			</li>
                         <li class="formlist1">
                            <b style="float: left;">Category:</b>
                            <div id="event_categories">
                                <div class="event_type">
                                	{% if eventform.category.errors %}
						    	<p class="error">{{ eventform.category.errors|join:", "  }}</p>
						  	{% endif %}
                                    <h3 class="subheading">Event type</h3>
                                        {{eventform.category}}
                                </div>
                                <div class="event_genre">
                                	{% if eventform.venue_name.errors %}
						    	<p class="error">{{ eventform.venue_name.errors|join:", "  }}</p>
						  	{% endif %}
                                 <h3 class="subheading">Event genre</h3>
                                 	<div class="event_genre_div">
                                 		Select Event Type 
                                 	</div>
                                 </div>
                                <div class="event_public">
                                	{% if eventform.venue_name.errors %}
						    	<p class="error">{{ eventform.venue_name.errors|join:", "  }}</p>
						  	{% endif %}
                              <h3 class="subheading">Event public</h3> 
                              {{eventform.event_public}}
                                </div>
                                <div class="clear"></div>
                            </div>
                    </li>
                    <div class="clear"></div>
                        <!--<li class="formlist1">
                        	{% if eventform.venue_name.errors %}
						    	<p class="error">{{ eventform.venue_name.errors|join:", "  }}</p>
						  	{% endif %}
                            <b>Keywords:</b>
                            <input type="text" name="keywords" class="uni" value="Max 10 words,seperated by commas" style="border-bottom: 2px solid #000; margin-left:52px; width:300px;background: none;" />
                        </li>-->
                         <li class="formlist1">
                         	{% if eventform.venue_name.errors %}
						    	<p class="error">{{ eventform.venue_name.errors|join:", "  }}</p>
						  	{% endif %}
                         <b>Description:</b>
                         <textarea  class="uni" style="width: 100%; height: 300px;" ></textarea>
                         </li>
                        <a href="#">             
                        <img src="./images/submit.png" alt="" style="margin-left: 36px; margin-top:20px;" />
                        </a>
                      </ul>  
                </fieldset>
             </div>   {% if eventform.status.errors %}
						    	<p class="error">{{ eventform.status.errors|join:", "  }}</p>
						  	{% endif %}
             {{eventform.status.as_hidden}}
             {{eventform.location.as_hidden}}
             {{eventform.event_poster.as_hidden}}
             <input id="createsubmit" type="submit"  value=" " name="createevent" class="submitButton"/>
          </form>
       </div>
       </div> 


<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
$(".datepicker").datepicker(
	{
		dateFormat:"yy-mm-dd",
		showOn: "button",
		buttonImage: "/static/images/calendar_icon.png",
		buttonImageOnly: true
	}
);
$(".timepicker").timepicker(
	{
		timeFormat:"hh:mm:ss"
	}
);
var geocoder;
var map;
function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("venue_map"), myOptions);
}
function codeAddress(address)
{
	if(address)
	{
	    geocoder.geocode( { 'address': address}, function(results, status) 
	    {
	    	if (status == google.maps.GeocoderStatus.OK) 
	    	{
	       		map.setCenter(results[0].geometry.location);
	        	var marker = new google.maps.Marker(
	        	{
	           		map: map, 
	            	position: results[0].geometry.location
	        	}
	        	);
	      } 
	      else 
	      {
	      	alert("Geocode was not successful for the following reason: " + status);
	      }
	    });
	}
}
initialize();
$("#venue_map").hide();
$("#id_venue_name").blur(function(){
	/*if($(this).val())
	{
		$("#venue_map").show();
		codeAddress($(this).val());
	}*/
});
$("#id_venue_name").focus(function(){
	/*if(!$(this).val())
	{
		$("#venue_map").hide();
	}*/
});
$("input[type=checkbox].uni").click(function(){
	class_name = "."+$(this).attr("rel");
	first_child = class_name+":eq(0)";
	second_child = class_name+":eq(1)";
	console.log($(this).parent().parent().parent());
	if($(this).is(":checked"))
	{
		$(this).parent().parent().parent().children(first_child).val("09:00");
		$(this).parent().parent().parent().children(second_child).val("17:00");
	}
	else
	{
		$(this).parent().parent().parent().children(first_child).val("");
		$(this).parent().parent().parent().children(second_child).val("");
	}
});
$("#eventposter-form").ajaxForm(
	{
		success: function(data) 
		{ 
			$("#id_event_poster").val(data);
			$("#poster_image").attr("src",'/static/images/'+data);			
		}
   	}
);
$("#id_event_poster_file").hide();
$("#upload_link").click(function(){
	$("#id_event_poster_file").click();
});
$("#id_event_poster_file").change(function(){
	$("#eventposter-form").submit();
});
$(".schedule_class").click(function(){
	parent = $(this).parent().parent().parent().parent().parent().parent();
	
	var class_name;
	if(parent.hasClass("performance_schedule1"))
	class_name = "performance_schedule1";
	else if(parent.hasClass("performance_schedule2"))
	class_name = "performance_schedule2";
	else if(parent.hasClass("performance_schedule3"))
	class_name = "performance_schedule3";
	else if(parent.hasClass("performance_schedule4"))
	class_name = "performance_schedule4";
	if($(this).val() == "open_hour_based")
	{
		$(".open_hours_div."+class_name).show();
		$(".performance_hours_div."+class_name).hide();
	}
	else if($(this).val() == "performance_based")
	{
		$(".open_hours_div."+class_name).hide();
		$(".performance_hours_div."+class_name).show();
	}
});
$( ".open_hours_div" ).hide();
$( ".performance_hours_div" ).hide();
$(".category_class").change(function(){
	if($('.category_class').val())
	{
		$.get(
			'/event/event_genre/?type='+$('.category_class').val(),
			function(data){
				$(".event_genre_div").html(data);
				$(".event_genre_div input[type=checkbox]").uniform();
			}		
		);
	}
});
$("#id_frequency").change(function(){
	var options_html;
	if($(this).val() == "ONCE")
	{
	}
	else if($(this).val() == "DAILY")
	{
		{% for frequency_val in frequency_range.daily %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}	
	}
	else if($(this).val() == "WEEKLY")
	{
		{% for frequency_val in frequency_range.weekly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	else if($(this).val() == "MONTHLY")
	{
		{% for frequency_val in frequency_range.monthly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	$("#id_interval").html(options_html);
});

$("#id_frequency_option1").change(function(){
	var options_html;
	if($(this).val() == "ONCE")
	{
	}
	else if($(this).val() == "DAILY")
	{
		{% for frequency_val in frequency_range.daily %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}	
	}
	else if($(this).val() == "WEEKLY")
	{
		{% for frequency_val in frequency_range.weekly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	else if($(this).val() == "MONTHLY")
	{
		{% for frequency_val in frequency_range.monthly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	$("#id_interval_option1").html(options_html);
});

$("#id_frequency_option2").change(function(){
	var options_html;
	if($(this).val() == "ONCE")
	{
	}
	else if($(this).val() == "DAILY")
	{
		{% for frequency_val in frequency_range.daily %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}	
	}
	else if($(this).val() == "WEEKLY")
	{
		{% for frequency_val in frequency_range.weekly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	else if($(this).val() == "MONTHLY")
	{
		{% for frequency_val in frequency_range.monthly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	$("#id_interval_option2").html(options_html);
});

$("#id_frequency_option3").change(function(){
	var options_html;
	if($(this).val() == "ONCE")
	{
	}
	else if($(this).val() == "DAILY")
	{
		{% for frequency_val in frequency_range.daily %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}	
	}
	else if($(this).val() == "WEEKLY")
	{
		{% for frequency_val in frequency_range.weekly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	else if($(this).val() == "MONTHLY")
	{
		{% for frequency_val in frequency_range.monthly %}
			options_html += '<option value="{{frequency_val|add:1}}">{{frequency_val|add:1}}</option>';
		{% endfor %}
	}
	$("#id_interval_option3").html(options_html);
});

$( ".performance_schedule2" ).hide();
$( ".performance_schedule3" ).hide();
$( ".performance_schedule4" ).hide();
schedule_index = 1;
$(".add_schedule").click(function(){
	if(schedule_index == 1)
	{
		$( ".performance_schedule2" ).show();
		$( ".performance_schedule2.open_hours_div" ).hide();
		$( ".performance_schedule2.performance_hours_div" ).hide();
		schedule_index++;
	}
	else if(schedule_index == 2)
	{
		$( ".performance_schedule3" ).show();
		$( ".performance_schedule3.open_hours_div" ).hide();
		$( ".performance_schedule3.performance_hours_div" ).hide();
		schedule_index++;
	}
	else if(schedule_index == 3)
	{
		$( ".performance_schedule4" ).show();
		$( ".performance_schedule4.open_hours_div" ).hide();
		$( ".performance_schedule4.performance_hours_div" ).hide();
		$(".add_schedule").hide();
		schedule_index++;
	}
});
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script>
var defaultBounds = new google.maps.LatLngBounds(
  new google.maps.LatLng(-33.8902, 151.1759),
  new google.maps.LatLng(-33.8474, 151.2631));

var input = document.getElementById('id_street_address');

autocomplete = new google.maps.places.Autocomplete(input);
</script>
{% endblock %}
