{% extends "base.html" %}

{% block title %}Citysom: Make the most of your city! {% endblock %}

{% block content %}
<!--        <div class="filledarea">
        	<div id="headingtext">April 2012</div>
            <div id="sundayarea"><img src="/static/images/sundayimg.png" width="508" height="17" alt="sunday" /></div>
        </div>	 -->
        <div class="clear"></div>
        <div id="home_calendar"></div>
        <div class="clear"></div>
        <!-- filledarea main start from here -->
        <!-- HIDE CURRENT FILTERS
         <div class="filter_section">
        	<div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Min.Price</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="min_price_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox">$<span id="min_price_span">0</span><input name="min_price" id="min_price" type="hidden" value="0"/></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="min_price_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Max.Price</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="max_price_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox">$<span id="max_price_span">0</span><input name="max_price" id="max_price" type="hidden" value="0"/></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="max_price_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Start Time</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="max_time_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox"><span id="max_time_span">8:00</span><input name="max_time" id="max_time" type="hidden" value="8:00" /></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="max_time_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
           -->
            <!-- Filters -->
            <!--
            <div class="minprice_main">
                    <div class="minprice_heading">Event Type</div>
                    <div class="minprice_heading">
                        <select name="category" id="category" style="background-color: black;width:150px; margin-top: 3px;font-weight:normal; font-family: Helvetica; border-radius:5px; border:1px #AAA; color:white;"> 
                        		<option value="">All</option>
                        		{% for cat in category %}
                        			<option value="{{cat.id}}">{{cat}}</option>
                        		{% endfor %}
                        </select>
                    </div>
                </div>
           
        </div>
        -->
         <!-- filledarea main end from here -->
          <!-- HIDE THE VARIOUS SELECTORS
         <div class="everything_area">
				<ul>
    				<li class="every_heading"><a href="index.html"><div class="everything_icon"><img src="/static/images/searchicon.png" width="24" height="24" alt="icon" /></div>        &nbsp;&nbsp;Everything</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="/static/images/cateicon.png" width="27" height="19" alt="icon" /></div>        &nbsp;&nbsp;Categories</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="/static/images/voice_icon.png" width="16" height="26" alt="icon" /></div>    &nbsp;Concerts</a></li>
	<li style="width:auto;"><a href="#">More &nbsp;&nbsp;></a></li>
</ul>
            </div> 
            -->  
         
          <!-- filledarea start from here -->
         
         <div class="filledarea1" id="visu_content" style="width: 990px !important; float: left; position:relative; margin-top:25px;">
         	<!--Div for posters -->
         	<div id="poster_container" style="width:770px !important; float: left; position: relative;">
         		
         		<button class="nav_button"> Toggle view </button>
         		
         		<div id="searchbox">
         			<input name="searchtextarea" id="searchtextarea" type="text" placeholder="Search for an artist, a place, an event etc." onblur="if( this.value.length == 0 ) { this.value = 'Search for an artist, a place, an event etc.'; }" onfocus="if(this.value == 'Search for an artist, a place, an event etc.') { this.value = ''; }"/>
         			<input type="button" name="submit" value=" " id="searchbutton">
         		</div>
         		<!-- NEEDS CLARIFICATION ! -->
         		<div id="categories" class="menurecipes_content eve" >
         			<div id="bottom_scroll">
         				<div class="left_region">
         					<div class="event_type">
         						<h6 style="font-weight:bold;margin-bottom: 20px;margin-left: 14px;">Event Type</h6>
                            </div>
                            <div class="left_images">
                            	<ul>
                            		<li><img style="padding: 3px;" src="/static/images/concerts.png" width="120" height="170" alt="1"  /></li>
                                    <li><img style="padding: 3px;" src="/static/images/plays.png" width="120" height="170" alt="1" /></li>  
                                    <li><img style="padding: 3px;" src="/static/images/lectures.png" width="120" height="170" alt="1" /></li>
                                </ul>
                            </div>
                  		</div>
                  		<div class="right_region">
                  			<div class="start_time">
                  				<h6 style="font-weight: bold; margin-bottom:20px;margin-right:98px;">Arrange Time : Start Time</h6>
                        	</div>
                            <div class="right_images">  
                            	<ul>
                            		<li><img style="padding-bottom:5px;" src="/static/images/churchillimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/brieitimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/clreusimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/fooimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/carimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/cameraimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/agentimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/verdictimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/cameraimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/agentimg.png" width="130" height="170" alt="1" /></li>
                                	<li><img style="padding-bottom:5px;" src="/static/images/verdictimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/churchillimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/brieitimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/clreusimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/fooimg.png" width="130" height="170" alt="1" /></li>
                            	</ul>
                         	</div>
                 		</div>
                 	</div>
           		</div>
           <div id="everything1" class="menurecipes_content text" >
           	<div id="bottom_images"></div>
           </div>
           <div id="concerts">
           </div>
           <div class="clickstatus"></div>
           <div class="movestatus"></div>
      	</div> 
         	
         	<!-- Div to filter the posters shown -->
         	<div id="poster_filter" style="width:220px !important; float:right; position: relative;">
         		<p class="nav_menu">
         			<button class="nav_button" onclick="$('#price_range_select').toggle(); return false;"> Select price range </button>
         		</p>
         		<div id="price_range_select" class="nav_div">
         			<label style="float:left; width:40px;text-align:left;margin: 12px 0 0 0;"> Min:</label>
         			<div class="textbox_nav" style="float:right; width:132px; font-size:15px;">$<input name="min_price" id="min_price" style="background:transparent; width:110px; margin:10px 5px;" type="text" value="0"/></div>
         			<label style="float:left; width:40px;text-align:left;margin: 20px 0 0 0;"> Max:</label>
         			<div class="textbox_nav" style="float:right; width:132px; font-size:15px; background:transparent;">$<input name="max_price" id="max_price" style="background:transparent; width:110px; margin:10px 5px;" type="text" value="0"/></div>
         			<p class="nav_div_choices">
         				<button class="nav_button_choice" id="cancel_price_range" onclick="$('#max_price').val('---'); $('#min_price').val('---'); load_events()" style="float:left; margin-left:17px;">Cancel</button>
         				<button class="nav_button_choice" id="valid_price_range" onclick="load_events()" style="float:right; margin-right:17px;">OK</button>
         			</p>
         		</div>
         		<p class="nav_menu">
         			<button class="nav_button" onclick="$('#event_type_select').toggle(); return false;"> Select event type </button>
         		</p>
         		<div id="event_type_select" class="nav_div" style="display:none; line-height:1.5em;">
         			<br>
         			<input type="checkbox" id="checkbox_movie" value="1" name="category"><span style="font-size: 0.91em; font-weight: normal">Movie</span><BR>
         			<input type="checkbox" id="checkbox_exhibition" value="2" name="category"><span style="font-size: 0.91em; font-weight: normal;">Exhibition</span><BR>
         			<input type="checkbox" id="checkbox_lecture" value="3" name="category"><span style="font-size: 0.91em; font-weight: normal;">Lecture/ Talk</span><BR>
         			<input type="checkbox" id="checkbox_concert" value="4" name="category"><span style="font-size: 0.91em; font-weight: normal;">Concert</span><BR>
         			<input type="checkbox" id="checkbox_sport" value="5" name="category"><span style="font-size: 0.91em; font-weight: normal;">Sport</span><BR>
         			<input type="checkbox" id="checkbox_theater" value="6" name="category"><span style="font-size: 0.91em; font-weight: normal;">Theater/ Reading</span><BR>
         			<input type="checkbox" id="checkbox_opera" value="7" name="category"><span style="font-size: 0.91em; font-weight: normal;">Opera</span><BR>
         			<input type="checkbox" id="checkbox_dance" value="8" name="category"><span style="font-size: 0.91em; font-weight: normal;">Dance</span><BR>
         			<input type="checkbox" id="checkbox_musical" value="9" name="category"><span style="font-size: 0.91em; font-weight: normal;">Musical/ Show</span><BR>
         			<input type="checkbox" id="checkbox_outdoor" value="10" name="category"><span style="font-size: 0.91em; font-weight: normal;">Outdoor</span><BR>
         			<input type="checkbox" id="checkbox_festival" value="11" name="category"><span style="font-size: 0.91em; font-weight: normal;">Festival</span><BR>
         			<input type="checkbox" id="checkbox_standup" value="12" name="category"><span style="font-size: 0.91em; font-weight: normal;">Stand-Up</span><BR>
         			<input type="checkbox" id="checkbox_course" value="13" name="category"><span style="font-size: 0.91em; font-weight: normal;">Course</span><BR>
         			<input type="checkbox" id="checkbox_category" value="14" name="category"><span style="font-size: 0.91em; font-weight: normal;">City Activity</span><BR>
         			<input type="checkbox" id="checkbox_fair" value="15" name="category"><span style="font-size: 0.91em; font-weight: normal;">Fair</span><BR>
         			<input type="checkbox" id="checkbox_fundraiser" value="16" name="category"><span style="font-size: 0.91em; font-weight: normal;">Fundraiser</span><BR>
         			<input type="checkbox" id="checkbox_party" value="17" name="category"><span style="font-size: 0.91em; font-weight: normal;">Party</span><BR>
         			<input type="checkbox" id="checkbox_other" value="18" name="category"><span style="font-size: 0.91em; font-weight: normal;">Other</span><BR>
         			<p class="nav_div_choices">
         				<button class="nav_button_choice" id="cancel_type_select" onclick="$('#event_type_select').find('input[type=checkbox]:checked').removeAttr('checked'); $('#event_type_select').val(''); load_events()" style="float:left; margin-left:17px;">Cancel</button>
         				<button class="nav_button_choice" id="valid_type_select" onclick="var data=[];$('#event_type_select :checked').each(function(){data.push($(this).val());}); $('#event_type_select').val(data); load_events(); " style="float:right; margin-right:17px;">OK</button>
         			</p>
         		</div>
         		<p class="nav_menu">
         			<button class="nav_button" onclick="$('#hours_range_select').toggle(); return false;"> Select hours </button>
         		</p>
         		<div id="hours_range_select" class="nav_div" style="display:none;">
         			<label> Start after:</label>
         			<div class="hours_display">
         				<select id="start_hours">
         					<option value="">--</option>
         					<option value="01">01</option>
         					<option value="02">02</option>
         					<option value="03">03</option>
         					<option value="04">04</option>
         					<option value="05">05</option>
         					<option value="06">06</option>
         					<option value="07">07</option>
         					<option value="08">08</option>
         					<option value="09">09</option>
         					<option value="10">10</option>
         					<option value="11">11</option>
         					<option value="12">12</option>
         					<option value="13">13</option>
         					<option value="14">14</option>
         					<option value="15">15</option>
         					<option value="16">16</option>
         					<option value="17">17</option>
         					<option value="18">18</option>
         					<option value="19">19</option>
         					<option value="20">20</option>
         					<option value="21">21</option>
         					<option value="22">22</option>
         					<option value="23">23</option>
         				</select>
         				:
         				<select id="start_minutes">
         					<option value="">--</option>
         					<option value="00">00</option>
         					<option value="15">15</option>
         					<option value="30">30</option>
         					<option value="45">45</option>
         				</select>
         			</div>
         			
         			<label> End before:</label>
         			<div class="hours_display" style="margin-bottom:15px;">
         				<select id="end_hours">
         					<option value="">--</option>
         					<option value="01">01</option>
         					<option value="02">02</option>
         					<option value="03">03</option>
         					<option value="04">04</option>
         					<option value="05">05</option>
         					<option value="06">06</option>
         					<option value="07">07</option>
         					<option value="08">08</option>
         					<option value="09">09</option>
         					<option value="10">10</option>
         					<option value="11">11</option>
         					<option value="12">12</option>
         					<option value="13">13</option>
         					<option value="14">14</option>
         					<option value="15">15</option>
         					<option value="16">16</option>
         					<option value="17">17</option>
         					<option value="18">18</option>
         					<option value="19">19</option>
         					<option value="20">20</option>
         					<option value="21">21</option>
         					<option value="22">22</option>
         					<option value="23">23</option>
         				</select>
         				:
         				<select id="end_minutes">
         					<option value="">--</option>
         					<option value="00">00</option>
         					<option value="15">15</option>
         					<option value="30">30</option>
         					<option value="45">45</option>
         				</select>
         			</div>
         			<br>
         			<p class="nav_div_choices">
         				<button class="nav_button_choice" id="cancel_hours_select" onclick="$('#end_minutes').val(''); $('#end_hours').val(''); $('#start_minutes').val(''); $('#start_hours').val(''); load_events()" style="float:left; margin-left:17px;">Cancel</button>
         				<button class="nav_button_choice" id="valid_hours_select" onclick="var hours=[]; hours.push($('#start_hours').val()); hours.push($('#start_minutes').val()); hours.push($('#end_hours').val()); hours.push($('#end_minutes').val()); $('#hours_range_select').val(hours); load_events();" style="float:right; margin-right:17px;">OK</button>
         			</p>
         		</div>
         		
         		<p class="nav_menu">
         			<button class="nav_button" onclick="$('#event_audience_select').toggle(); return false;"> Select audience </button>
         		</p>
         		<div id="event_audience_select" class="nav_div" style="display:none; line-height:1.5em;">
         			<br>
         			<input type="checkbox" id="checkbox_allpublic" value="1" name="audience"><span style="font-size: 0.91em; font-weight: normal">All public</span><BR>
         			<input type="checkbox" id="checkbox_families" value="2" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Families</span><BR>
         			<input type="checkbox" id="checkbox_children" value="3" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Children</span><BR>
         			<input type="checkbox" id="checkbox_teens" value="4" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Teens</span><BR>
         			<input type="checkbox" id="checkbox_adults" value="5" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Adults</span><BR>
         			<input type="checkbox" id="checkbox_seniors" value="6" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Seniors</span><BR>
         			<p class="nav_div_choices">
         				<button class="nav_button_choice" id="cancel_type_select" onclick="$('#event_audience_select').find('input[type=checkbox]:checked').removeAttr('checked'); $('#event_audience_select').val(''); load_events()" style="float:left; margin-left:17px;">Cancel</button>
         				<button class="nav_button_choice" id="valid_type_select" onclick="var tmp_aud=[];$('#event_audience_select :checked').each(function(){tmp_aud.push($(this).val());}); $('#event_audience_select').val(tmp_aud); load_events(); " style="float:right; margin-right:17px;">OK</button>
         			</p>
         		</div>
         	</div>
        
      </div>     
      <script>
  		var step = 10;
  		var timestep = 15;
  		
  		function load_events()
  		{
  			url = '/event/event_list/?view=list';
  			min_price = parseInt($("#min_price").val());
  			max_price = parseInt($("#max_price").val());
  			event_date = $(".calendar_start").attr("rel")?$(".calendar_start").attr("rel"):$(".calendar_active").attr("rel");
  			event_date_end = $(".calendar_end").attr("rel");
  			filter_time = $("#hours_range_select").val();
  			category = $("#event_type_select").val();
  			audience = $('#event_audience_select').val()
  			search_text = $("#searchtextarea").val();
  			
  			if(min_price)
  				url +='&min_price='+min_price;
  			if(max_price)
  				url +='&max_price='+max_price;
  			if(event_date)
  				url +='&event_date='+event_date;
  			if(event_date_end)
  				url +='&event_date_end='+event_date_end;
  			if(filter_time)
  				var str=''
  				var st_str=''
  				var ed_str=''
  				if(filter_time==''){
  					str='';
  				}
  				else{
  					
	  				if(filter_time[0]==''){
	  					st_str='';
	  				}
	  				else{
	  					if(filter_time[1]==''){
	  						st_str=filter_time[0]+':'+'00';
	  					}
	  					else{
	  						st_str=filter_time[0]+':'+filter_time[1];
	  					}
	  				}
	  				if(filter_time[2]==''){
	  					ed_str='';
	  				}
	  				else{
	  					if(filter_time[3]==''){
	  						ed_str=filter_time[2]+':'+'00';	
	  					}
	  					else{
	  						ed_str=filter_time[2]+':'+filter_time[3];
	  					}	
	  				}
	  				if(st_str=='' && ed_str==''){
	  					str='';
	  				}
	  				else if(st_str==''){
	  					str='&end_time='+ed_str;
	  				}
	  				else if(ed_str==''){
	  					str='&start_time='+st_str;
	  				}
	  				else{
	  					str='&start_time='+st_str+'&end_time='+ed_str;
	  				}
	  			}
  				url +=str;
  			
  			if(category)
  				var i=0
  				var str=''
  				while(i<category.length){
  					str +='&category='+category[i];
  					i+=1;
  				}
  				url +=str;
  				
  			if(audience)
  				var j=0
  				var stg=''
  				while(j<audience.length){
  					stg +='&audience='+audience[j];
  					j+=1;
  				}
  				url +=stg;
  					
  			if(search_text)
  				url +='&search_text='+search_text;
  				
	  		$.get(url,
	  			function(data)
	  			{
					$("#bottom_images").html(data);
	  			}
	  		);
	  	}
  		
  		
  		$("#min_price_down").click(function(){
  			var current_price = parseInt($("#min_price").val())-step;
  			if(current_price >= 0)
  			{
  				$("#min_price").val(current_price);
  				$("#min_price_span").html(current_price);
  				load_events();
  			}
  		});
  		$("#min_price_up").click(function(){
  			var current_price = parseInt($("#min_price").val())+step;
  			$("#min_price").val(current_price);
  			$("#min_price_span").html(current_price);
  			load_events();
  		});
  		
  		$("#max_price_down").click(function(){
  			var current_max_price = parseInt($("#max_price").val())-step;
  			if(current_max_price >= 0)
  			{
  				$("#max_price").val(current_max_price);
  				$("#max_price_span").html(current_max_price);
  				load_events();
  			}
  		});
  		$("#max_price_up").click(function(){
  			var current_max_price = parseInt($("#max_price").val())+step;
  			$("#max_price").val(current_max_price);
  			$("#max_price_span").html(current_max_price);
  			load_events();
  		});
  		
  		var variable_date = new Date();
  		variable_date.setHours(8);
  		variable_date.setMinutes(0);
  		variable_date.setSeconds(0);
  		var current_formatted_date;
  		$("#max_time_down").click(function(){
  			variable_date.setMinutes(variable_date.getMinutes()-timestep);
			current_formatted_date = variable_date.getHours()+":"+variable_date.getMinutes();
			$("#max_time").val(current_formatted_date);
			$("#max_time_span").html(current_formatted_date);
			load_events();
  		});
  		$("#max_time_up").click(function()
  		{
			variable_date.setMinutes(variable_date.getMinutes()+timestep);
			current_formatted_date = variable_date.getHours()+":"+variable_date.getMinutes();
			$("#max_time").val(current_formatted_date);
			$("#max_time_span").html(current_formatted_date);
			load_events();
  		});
  		
  		$.get(
  			"/event/calendar/",
  			function (data)
  			{
  				$("#home_calendar").html(data);
  				load_events();
  			}
  		);
  		/*$("#home_calendar").on("click", "#days_container>a", function(event){
			$("a.calendar_active").removeClass("calendar_active");
  			$(this).addClass("calendar_active");
  			load_events();
		});*/
		
		$("#home_calendar").on("click", "a.calendar_nav_links", function(event){
			event.preventDefault();
			url = $(this).attr("href");
			$.get(
	  			url,
	  			function (data)
	  			{
	  				$("#home_calendar").html(data);
	  			}
	  		);
		});
		
		$("#category").change(function(){
			load_events();
		});
		
		$('#searchtextarea').keyup(function(e){
			e = e || event;
			if (e.keyCode===13){
				load_events();
			}
			return true;
		});
		
		$("#searchbutton").click(function(){
			load_events();
		});
		
		var clicking = false;
		var started = 0
		
		$("#home_calendar").on("mousedown", "#days_container>a", function(event){
		    if(started == 0){
		    	clicking = true;
		    $(".calendar_active").removeClass("calendar_active");
		    $(".calendar_hover").removeClass("calendar_hover");
		    $(".calendar_start").removeClass("calendar_start");
		    $(".calendar_end").removeClass("calendar_end");
		    $(this).addClass("calendar_active");
		    $(this).addClass("calendar_start");
		    started = 1;
		    return false;
		    }
		    if(started ==1){
		    	clicking = false;
		    	
		    	$(this).addClass("calendar_tentative");
		    	
		    	if(parseInt($(".calendar_start").text()) > parseInt($(".calendar_tentative").text())){
		    		$(".calendar_tentative").removeClass("calendar_tentative");
		    		started = 1;
		    		clicking = 1;
		    		return;
		    		}
		    	else{
		    		$(".calendar_tentative").removeClass("calendar_tentative");
		    		$(this).addClass("calendar_active");
		    		$(this).addClass("calendar_end");
		    		
		    		if($(".calendar_start").attr("rel") != $(".calendar_end").attr("rel")) {
		    			$(".calendar_hover").removeClass("calendar_hover");
		     			calendar_hovered_items = getAllBetween("a.calendar_start","a.calendar_end");
		     			$.each(calendar_hovered_items,function(key,item){$(item).addClass("calendar_hover");});
		    			}
		    		else {
			    		$(".calendar_active").removeClass("calendar_active");
			     		$(".calendar_hover").removeClass("calendar_hover");
					    $(".calendar_start").removeClass("calendar_start");
					    $(".calendar_end").removeClass("calendar_end");
					    $(this).addClass("calendar_active");
		    			}
		    		load_events();
		    		started = 0;	
		    		}
		    	return false;
		    	}
		});
		
		/*$("#home_calendar").on("mouseup", "#days_container>a", function(event){
			clicking = false;
		    $(this).addClass("calendar_active");
		    $(this).addClass("calendar_end");
		    if($(".calendar_start").attr("rel") != $(".calendar_end").attr("rel"))
		    {
		     $(".calendar_hover").removeClass("calendar_hover");
		     calendar_hovered_items = getAllBetween("a.calendar_start","a.calendar_end");
		     $.each(calendar_hovered_items,function(key,item){$(item).addClass("calendar_hover");});
		    }
		    else
		    {
		     $(".calendar_active").removeClass("calendar_active");
		     $(".calendar_hover").removeClass("calendar_hover");
		     $(".calendar_start").removeClass("calendar_start");
		     $(".calendar_end").removeClass("calendar_end");
		     $(this).addClass("calendar_active");
		    }
		    load_events();
		    return false;
		});*/
		
		$("#home_calendar").on("mouseover", "#days_container>a", function(event){
			if(clicking == 0){return}
			else{
				$(".calendar_hover").removeClass("calendar_hover");
				$(this).addClass("calendar_hover");
				if(parseInt($(".calendar_hover").text()) > parseInt($(".calendar_start").text())){
					return;
				}
				else{ $(".calendar_hover").removeClass("calendar_hover"); }
				}
		    return false;
		});
		
		function getAllBetween(firstEl,lastEl) {
		    var firstElement = $(firstEl);
		    var lastElement = $(lastEl);
		    var collection = new Array();
		    collection.push(firstElement);
		    $(firstEl).nextAll().each(function(){
		        var siblingID  = $(this).attr("rel");
		        if (siblingID != $(lastElement).attr("rel")) {
		                collection.push($(this));
		        } else {
		                return false;
		        }
		    });  
		    collection.push(lastElement);       
		    return collection;
		}

      </script>
{% endblock %}