{% extends "base.html" %}

{% block title %}Citysom: Make the most of your city! {% endblock %}

{% block head %}
       <script src="/static/js/home_page_specific.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<!--        <div class="filledarea">
        	<div id="headingtext">April 2012</div>
            <div id="sundayarea"><img src="/static/images/sundayimg.png" width="508" height="17" alt="sunday" /></div>
        </div>	 -->
<div class="row-fluid">
	<div id="work_cal" class="span2"> 
		<img src="/static/images/box_orange.png" width="32" height="32" style="width: 32px; height: 32px;"/>
        <div style="font:1em; color:white; display:inline; font-weight:bold; margin-left:-24px;">1</div>
        <div id="work_cal_txt" style="width:80%; display:block; font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1.3em; color:#4C4C4C;float:right; margin-right:1px;margin-top:6px;">Pick a date range</div>
	<div class="clear"></div>
        	<img src="/static/images/arrow_orange.png" width="64" height="64" style="margin-left:70px;width: 64px; height: 64px;"/>
	</div>
	<div id="home_calendar" class="span7 offset1">&nbsp;</div>
</div>
        
        <!--<div class="row"></div>-->
        <!-- filledarea main start from here -->
        <!-- HIDE CURRENT FILTERS
         <div class="filter_section">
        	<div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Min.Price</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="min_price_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox">$<span id="min_price_span">0</span><input name="min_price" id="min_price" type="hidden" value="0"/></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="min_price_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Max.Price</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="max_price_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox">$<span id="max_price_span">0</span><input name="max_price" id="max_price" type="hidden" value="0"/></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="max_price_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
            
            <div class="minprice_main">
            	<div class="minprice_heading" style="padding:0px 0px 0px 6px;">Start Time</div>
                <div class="minprice_heading">
                	<div class="nextbutton"><a href="javascript:void(0)" id="max_time_down"><img src="/static/images/button_down.png" /></a></div>
                    <div class="textbox"><span id="max_time_span">8:00</span><input name="max_time" id="max_time" type="hidden" value="8:00" /></div>
                    <div class="nextbutton"><a href="javascript:void(0)" id="max_time_up"><img src="/static/images/button_up.png"/></a></div>
                </div>
            </div>
           -->
            <!-- Filters -->
            <!--
            <div class="minprice_main">
                    <div class="minprice_heading">Event Type</div>
                    <div class="minprice_heading">
                        <select name="category" id="category" style="background-color: black;width:150px; margin-top: 3px;font-weight:normal; font-family: Helvetica; border-radius:5px; border:1px #AAA; color:white;"> 
                        		<option value="">All</option>
                        		{% for cat in category %}
                        			<option value="{{cat.id}}">{{cat}}</option>
                        		{% endfor %}
                        </select>
                    </div>
                </div>
           
        </div>
        -->
         <!-- filledarea main end from here -->
          <!-- HIDE THE VARIOUS SELECTORS
         <div class="everything_area">
				<ul>
    				<li class="every_heading"><a href="index.html"><div class="everything_icon"><img src="/static/images/searchicon.png" width="24" height="24" alt="icon" /></div>        &nbsp;&nbsp;Everything</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="/static/images/cateicon.png" width="27" height="19" alt="icon" /></div>        &nbsp;&nbsp;Categories</a></li>
					<li><a href="category.html"><div class="everything_icon"><img src="/static/images/voice_icon.png" width="16" height="26" alt="icon" /></div>    &nbsp;Concerts</a></li>
	<li style="width:auto;"><a href="#">More &nbsp;&nbsp;></a></li>
</ul>
            </div> 
            -->  
         
          <!-- filledarea start from here -->
         
<div class="filledarea1" id="visu_content">
         	<!--Div for posters -->
	<div class="row-fluid">
		<div id="poster_filter" class="span2" style="float:left; position: relative; border:1px solid #E0E0E0;  border-radius:5px; padding:5px; background:#fff;">
         	<div id="poster_filter_title_cont">
         		<div id="poster_filter_title">
         			<img src="/static/images/box_orange.png" width="32" height="32" style="width: 32px; height: 32px;"/>
        			<div style="font:1em; color:white; display:inline; font-weight:bold; margin-left:-24px;">2</div>
        			<div style="width:75%; display:block; font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1.2em; color:#4C4C4C;float:right; margin-bottom:20px;">Filter results</div>
         				<!--
         				<p style="font-size:1.2em; color:#FF6600; margin-left:0.2em;">Filter events by:</p>
         				-->
         		</div>
         	</div>
         	<p class="nav_menu">
         		<button class="nav_button" onclick="$('#price_range_select').toggle(); return false;"> Price <img src="/static/images/btn_white_arr.png" alt="Price" style="float:right; margin-right:-10px; margin-top:-2px;"/></button>
         	</p>
         	<div id="price_range_select" class="nav_div">
         		<!--<label style="float:left; width:40px;text-align:left;margin: 12px 0 0 0;"> Min:</label>-->
         		<div class="textbox_nav input-prepend" style="float:left; margin-left:0.5em; margin-top:0.5em; font-size:15px; width:90%;"><span class="add-on">$</span><input name="min_price" id="min_price" class="span9" type="text" placeholder="Min $"/></div>
         		<!--<label style="float:left; width:40px;text-align:left;margin: 20px 0 0 0;"> Max:</label>-->
         		<div class="textbox_nav input-prepend" style="float:left; margin-left:0.5em; margin-top:0.5em; margin-bottom:0.5em; font-size:15px; width:90%;"><span class="add-on">$</span><input name="max_price" id="max_price" class="span9" type="text" placeholder="Max $"/></div>
         		<p class="nav_div_choices">
         			<button class="nav_button_choice btn btn-mini btn-warning" id="cancel_price_range" onclick="$('#max_price').val(''); $('#min_price').val(''); load_events()" style="float:left; margin-left:8px;">Cancel</button>
         			<button class="nav_button_choice btn btn-mini btn-info" id="valid_price_range" onclick="load_events()" style="float:right; margin-right:8px;">OK</button>
         		</p>
         	</div>
         	<p class="nav_menu">
         		<button class="nav_button" onclick="$('#event_type_select').toggle(); return false;"> Event type <img src="/static/images/btn_white_arr.png" alt="Event type" style="float:right; margin-right:-10px; margin-top:-2px;"/></button>
         	</p>
         	<div id="event_type_select" class="nav_div" style="display:none; line-height:1.5em;">
         		<label class="checkbox">
         			<em>Movie</em>
         			<input type="checkbox" id="checkbox_movie" value="1" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Exhibition</em>
         			<input type="checkbox" id="checkbox_exhibition" value="2" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Lecture/ Talk</em>
         			<input type="checkbox" id="checkbox_lecture" value="3" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Concert</em>
         			<input type="checkbox" id="checkbox_concert" value="4" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Sport</em>
         			<input type="checkbox" id="checkbox_sport" value="5" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Theater/ Reading</em>
         			<input type="checkbox" id="checkbox_theater" value="6" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Opera</em>
         			<input type="checkbox" id="checkbox_opera" value="7" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Dance</em>
         			<input type="checkbox" id="checkbox_dance" value="8" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Musical/ Show</em>
         			<input type="checkbox" id="checkbox_musical" value="9" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Outdoor</em>
         			<input type="checkbox" id="checkbox_outdoor" value="10" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Festival</em>
         			<input type="checkbox" id="checkbox_festival" value="11" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Stand-Up</em>
         			<input type="checkbox" id="checkbox_standup" value="12" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Course</em>
         			<input type="checkbox" id="checkbox_course" value="13" name="category">
         		</label>
         		<label class="checkbox">
         			<em>City Activity</em>
         			<input type="checkbox" id="checkbox_category" value="14" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Fair</em>
         			<input type="checkbox" id="checkbox_fair" value="15" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Fundraiser</em>
         			<input type="checkbox" id="checkbox_fundraiser" value="16" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Party</em>
         			<input type="checkbox" id="checkbox_party" value="17" name="category">
         		</label>
         		<label class="checkbox">
         			<em>Other</em>
         			<input type="checkbox" id="checkbox_other" value="18" name="category">
         		</label>
         		
         		<p class="nav_div_choices">
         			<button class="nav_button_choice btn btn-mini btn-warning" id="cancel_type_select" onclick="$('#event_type_select').find('input[type=checkbox]:checked').removeAttr('checked'); $('#event_type_select').val(''); load_events()" style="float:left; margin-left:8px;">Cancel</button>
         			<button class="nav_button_choice btn btn-mini btn-info" id="valid_type_select" onclick="var data=[];$('#event_type_select :checked').each(function(){data.push($(this).val());}); $('#event_type_select').val(data); load_events(); " style="float:right; margin-right:8px;">OK</button>
         		</p>
         	</div>
         	<p class="nav_menu">
         		<button class="nav_button" onclick="$('#hours_range_select').toggle(); return false;"> Show time <img src="/static/images/btn_white_arr.png" alt="On-air time" style="float:right; margin-right:-10px; margin-top:-2px;"/></button>
         	</p>
         	<div id="hours_range_select" class="nav_div" style="display:none; padding:0 10px; width:94%;">
         		<label>Minimum start time:</label>
         		<div class="hours_display">
         			<select id="start_hours">
         				<option value="">--</option>
         				<option value="00">00</option>
         				<option value="01">01</option>
         				<option value="02">02</option>
         				<option value="03">03</option>
         				<option value="04">04</option>
         				<option value="05">05</option>
         				<option value="06">06</option>
         				<option value="07">07</option>
         				<option value="08">08</option>
         				<option value="09">09</option>
         				<option value="10">10</option>
         				<option value="11">11</option>
         				<option value="12">12</option>
         				<option value="13">13</option>
         				<option value="14">14</option>
         				<option value="15">15</option>
         				<option value="16">16</option>
         				<option value="17">17</option>
         				<option value="18">18</option>
         				<option value="19">19</option>
         				<option value="20">20</option>
         				<option value="21">21</option>
         				<option value="22">22</option>
         				<option value="23">23</option>
         			</select>
         			:
         			<select id="start_minutes">
         				<option value="">--</option>
         				<option value="00">00</option>
         				<option value="15">15</option>
         				<option value="30">30</option>
         				<option value="45">45</option>
         			</select>
         		</div>
         			
         		<label>Maximum end time:</label>
         		<div class="hours_display" style="margin-bottom:15px;">
         			<select id="end_hours">
         				<option value="">--</option>
         				<option value="00">00</option>
         				<option value="01">01</option>
         				<option value="02">02</option>
         				<option value="03">03</option>
         				<option value="04">04</option>
         				<option value="05">05</option>
         				<option value="06">06</option>
         				<option value="07">07</option>
         				<option value="08">08</option>
         				<option value="09">09</option>
         				<option value="10">10</option>
         				<option value="11">11</option>
         				<option value="12">12</option>
         				<option value="13">13</option>
         				<option value="14">14</option>
         				<option value="15">15</option>
         				<option value="16">16</option>
         				<option value="17">17</option>
         				<option value="18">18</option>
         				<option value="19">19</option>
         				<option value="20">20</option>
         				<option value="21">21</option>
         				<option value="22">22</option>
         				<option value="23">23</option>
         			</select>
         			:
         			<select id="end_minutes">
         				<option value="">--</option>
         				<option value="00">00</option>
         				<option value="15">15</option>
         				<option value="30">30</option>
         				<option value="45">45</option>
         			</select>
         		</div>
         		<p class="nav_div_choices" style="margin-left:-10px; width: 109% !important;">
         			<button class="nav_button_choice btn btn-mini btn-warning" id="cancel_hours_select" onclick="$('#end_minutes').val(''); $('#end_hours').val(''); $('#start_minutes').val(''); $('#start_hours').val(''); $('#hours_range_select').val(''); load_events()" style="float:left; margin-left:6px;">Cancel</button>
         			<button class="nav_button_choice btn btn-mini btn-info" id="valid_hours_select" onclick="var hours=[]; hours.push($('#start_hours').val()); hours.push($('#start_minutes').val()); hours.push($('#end_hours').val()); hours.push($('#end_minutes').val()); $('#hours_range_select').val(hours); load_events();" style="float:right; margin-right:6px;">OK</button>
         		</p>
         		</div>
         		
         		<p class="nav_menu">
         			<button class="nav_button" onclick="$('#event_audience_select').toggle(); return false;"> Public <img src="/static/images/btn_white_arr.png" alt="Public" style="float:right; margin-right:-10px; margin-top:-2px;"/> </button>
         		</p>
         		<div id="event_audience_select" class="nav_div" style="display:none; line-height:1.5em;">
      
         			<label class="checkbox" style="margin-top:1em;">
         				<em>All Public</em>
         				<input type="checkbox" id="checkbox_allpublic" value="1" name="audience">
         			</label>
         			<label class="checkbox">
         				<em>Families</em>
         				<input type="checkbox" id="checkbox_families" value="2" name="audience">
         			</label>
         			<label class="checkbox">
         				<em>Children</em>
         				<input type="checkbox" id="checkbox_children" value="3" name="audience">
         			</label>
         			<label class="checkbox">
         				<em>Teens</em>
         				<input type="checkbox" id="checkbox_teens" value="4" name="audience">
         			</label>
         			<label class="checkbox">
         				<em>Adults</em>
         				<input type="checkbox" id="checkbox_adults" value="5" name="audience">
         			</label>
         			
         			<label class="checkbox">
         				<em>Seniors</em>
         				<input type="checkbox" id="checkbox_seniors" value="6" name="audience">
         			</label>
         			<!--
         			<input type="checkbox" id="checkbox_allpublic" value="1" name="audience"><span style="font-size: 0.91em; font-weight: normal">All public</span><BR>
         			<input type="checkbox" id="checkbox_families" value="2" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Families</span><BR>
         			<input type="checkbox" id="checkbox_children" value="3" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Children</span><BR>
         			<input type="checkbox" id="checkbox_teens" value="4" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Teens</span><BR>
         			<input type="checkbox" id="checkbox_adults" value="5" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Adults</span><BR>
         			<input type="checkbox" id="checkbox_seniors" value="6" name="audience"><span style="font-size: 0.91em; font-weight: normal;">Seniors</span><BR>
         				-->
         			<p class="nav_div_choices">
         				<button class="nav_button_choice btn btn-mini btn-warning" id="cancel_type_select" onclick="$('#event_audience_select').find('input[type=checkbox]:checked').removeAttr('checked'); $('#event_audience_select').val(''); load_events()" style="float:left; margin-left:8px;">Cancel</button>
         				<button class="nav_button_choice btn btn-mini btn-info" id="valid_type_select" onclick="var tmp_aud=[];$('#event_audience_select :checked').each(function(){tmp_aud.push($(this).val());}); $('#event_audience_select').val(tmp_aud); load_events(); " style="float:right; margin-right:8px;">OK</button>
         			</p>
         		</div>
         	</div>
	<div id="poster_container" class="span10" >
         		<!--
         		<button class="nav_button" id="toggle_view" onclick="if(togl==0){togl=1; load_events(); $('#toggle_sort').show(); return false;} else{togl=0; load_events(); $('#toggle_sort').hide(); return false;}"> Toggle view </button>
         		-->
         		<!--
         		<div id="searchbox">
         			<input name="searchtextarea" id="searchtextarea" type="text" placeholder="Search for an artist, a place, an event etc." onblur="if( this.value.length == 0 ) { this.value = 'Search for an artist, a place, an event etc.'; }" onfocus="if(this.value == 'Search for an artist, a place, an event etc.') { this.value = ''; }"/>
         			<input type="button" name="submit" value=" " id="searchbutton">
         		</div>
         		-->
         		<!-- NEEDS CLARIFICATION ! -->
         		<div id="categories" class="menurecipes_content eve" >
         			<div id="bottom_scroll">
         				<div class="left_region">
         					<div class="event_type">
         						<h6 style="font-weight:bold;margin-bottom: 20px;margin-left: 14px;">Event Type</h6>
                            </div>
                            <div class="left_images">
                            	<ul>
                            		<li><img style="padding: 3px;" src="/static/images/concerts.png" width="120" height="170" alt="1"  /></li>
                                    <li><img style="padding: 3px;" src="/static/images/plays.png" width="120" height="170" alt="1" /></li>  
                                    <li><img style="padding: 3px;" src="/static/images/lectures.png" width="120" height="170" alt="1" /></li>
                                </ul>
                            </div>
                  		</div>
                  		<div class="right_region">
                  			<div class="start_time">
                  				<h6 style="font-weight: bold; margin-bottom:20px;margin-right:98px;">Arrange Time : Start Time</h6>
                        	</div>
                            <div class="right_images">  
                            	<ul>
                            		<li><img style="padding-bottom:5px;" src="/static/images/churchillimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/brieitimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/clreusimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/fooimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/carimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/cameraimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/agentimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/verdictimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/cameraimg.png" width="130" height="170" alt="1" /></li>
                            		<li><img style="padding-bottom:5px;" src="/static/images/agentimg.png" width="130" height="170" alt="1" /></li>
                                	<li><img style="padding-bottom:5px;" src="/static/images/verdictimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/churchillimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/brieitimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/clreusimg.png" width="130" height="170" alt="1" /></li>
	                                <li><img style="padding-bottom:5px;" src="/static/images/fooimg.png" width="130" height="170" alt="1" /></li>
                            	</ul>
                         	</div>
                 		</div>
                 	</div>
           		</div>
           
           <div>
           	<!--
           	<div id="pres_date_selected">
           		<hr>
           		{%if date_end %}
           		<p style="margin-left:2em; font-size:0.9em; font-weight:normal; color: #222;">Showing events for {{ date_start }} to {{ date_end }}</p>
           		{%else%}
           		<p style="margin-left:2em; font-size:0.9em; font-weight:normal; color: #222;">Showing events for {{ date_start }}</p>
           		{%endif%}
           		<hr>
           	</div>-->
           	<!--<p><span style="font-size:15px; color:#FF6600; font-family:Helvetica; font-weight:bold; margin-left:1em; line-height:2wm;">        See what is going on ></span></p>
           	<BR>
           
           	</BR>	-->
	        <p id="toggle_sort" style="text-align: right; display: none;"><span style="font-size:15px; font-family:Helvetica; font-weight:bold; margin-left:1em; line-height:2em;">Sort By :
		    <select name="sort" id="sort" style="width: 100px;" onchange="load_events()">
			    <option value="showtimes_start">Showtime Start</option>
			    <option value="showtimes_end">Showtime End</option>
		     </select>
		</span></p>
           </div>
           	<div id="bottom_images"></div>
      	</div> 
         	
         	<!-- Div to filter the posters shown -->
         	
        
</div>
{% endblock %}