body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0 auto; padding: 0; border: 0; outline: 0; font-size: 15px;  font-family: Helvetica;  vertical-align: baseline;}
/* remember to define focus styles! */
:focus {outline: 0;}
body {margin: 0; font-size: 1em; line-height:1; color: black; background: transparent;}     
ol, ul{ list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}  

/* Reset CSS */
html {font-size: 100%; -webkit-text-size-adjust: 100%; -mz-text-size-adjust: 100%; }  
html {font-family: Helvetica;}

::-moz-selection { background: #121252; color: #fff; text-shadow: none; }
::selection { background: #121252; color: #fff; text-shadow: none; }
                                                        


/* Reset CSS */

/*
=========================================================================================
CSS LIBS
=========================================================================================
*/

/*Uniform CSS*/

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span{background-image:url(../images/sprite.png);background-repeat:no-repeat;-webkit-font-smoothing:antialiased;}
.selector, .radio, .checker, .uploader, .button, .selector *, .radio *, .checker *, .uploader *, .button *{margin:0;padding:0;} 
input.text, input.email, input.password, textarea.uniform{font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:normal;padding:3px;color:#777;background-color: transparent;outline:0;}
input.text:focus, input.email:focus, input.password:focus, textarea.uniform:focus{color:#999;} 
div.selector{background-position:-483px -130px;line-height:26px;height:26px;}
div.selector span{background-position:right 0px;height:26px;line-height:26px;}
div.selector select{ top:0px;left:0px;}
div.selector:active, div.selector.active{background-position:-483px -156px;}
div.selector:active span, div.selector.active span{background-position:right -26px;}
div.selector.focus, div.selector.hover, div.selector:hover{background-position:-483px -182px;}
div.selector.focus span, div.selector.hover span, div.selector:hover span{background-position:right -52px;}
div.selector.focus:active, div.selector.focus.active, div.selector:hover:active, div.selector.active:hover{background-position:-483px -208px;}
div.selector.focus:active span, div.selector:hover:active span, div.selector.active:hover span, div.selector.focus.active span{background-position:right -78px;}
div.selector.disabled{background-position:-483px -234px;}
div.selector.disabled span{background-position:right -104px;} 
div.checker{width:19px;height:19px;}
div.checker input{width:19px;height:19px;}
div.checker span{background-position:0px -260px;height:19px;width:19px;}
div.checker:active span, div.checker.active span{background-position:-19px -260px;}
div.checker.focus span, div.checker:hover span{background-position:-38px -260px;}
div.checker.focus:active span, div.checker:active:hover span, div.checker.active:hover span, div.checker.focus.active span{background-position:-57px -260px;}
div.checker span.checked{background-position:-76px -260px;}
div.checker:active span.checked, div.checker.active span.checked{background-position:-95px -260px;}
div.checker.focus span.checked, div.checker:hover span.checked{background-position:-114px -260px;}
div.checker.focus:active span.checked, div.checker:hover:active span.checked, div.checker.active:hover span.checked, div.checker.active.focus span.checked{background-position:-133px -260px;}
div.checker.disabled span, div.checker.disabled:active span, div.checker.disabled.active span{background-position:-152px -260px;}
div.checker.disabled span.checked, div.checker.disabled:active span.checked, div.checker.disabled.active span.checked{background-position:-171px -260px;} 
div.radio{width:18px;height:18px;}
div.radio input{width:18px;height:18px;}
div.radio span{height:18px;width:18px;background-position:0px -279px;}
div.radio:active span, div.radio.active span{background-position:-18px -279px;}
div.radio.focus span, div.radio:hover span{background-position:-36px -279px;}
div.radio.focus:active span, div.radio:active:hover span, div.radio.active:hover span, div.radio.active.focus span{background-position:-54px -279px;}
div.radio span.checked{background-position:-72px -279px;}
div.radio:active span.checked, div.radio.active span.checked{background-position:-90px -279px;}
div.radio.focus span.checked, div.radio:hover span.checked{background-position:-108px -279px;}
div.radio.focus:active span.checked, div.radio:hover:active span.checked, div.radio.focus.active span.checked, div.radio.active:hover span.checked{background-position:-126px -279px;}
div.radio.disabled span, div.radio.disabled:active span, div.radio.disabled.active span{background-position:-144px -279px;}
div.radio.disabled span.checked, div.radio.disabled:active span.checked, div.radio.disabled.active span.checked{background-position:-162px -279px;} 
div.uploader{background-position:0px -297px;height:28px;}
div.uploader span.action{background-position:right -409px;height:24px;line-height:24px;}
div.uploader span.filename{height:24px; margin:2px 0px 2px 2px;line-height:24px;}
div.uploader.focus, div.uploader.hover, div.uploader:hover{background-position:0px -353px;}
div.uploader.focus span.action, div.uploader.hover span.action, div.uploader:hover span.action{background-position:right -437px;}
div.uploader.active span.action, div.uploader:active span.action{background-position:right -465px;}
div.uploader.focus.active span.action, div.uploader:focus.active span.action, div.uploader.focus:active span.action, div.uploader:focus:active span.action{background-position:right -493px;}
div.uploader.disabled{background-position:0px -325px;}
div.uploader.disabled span.action{background-position:right -381px;}
div.button{background-position:0px -523px;}
div.button span{background-position:right -643px;}
div.button.focus, div.button:focus, div.button:hover, div.button.hover{background-position:0px -553px;}
div.button.focus span, div.button:focus span, div.button:hover span, div.button.hover span{background-position:right -673px;}
div.button.active, div.button:active{background-position:0px -583px;}
div.button.active span, div.button:active span{background-position:right -703px;color:#555;}
div.button.disabled, div.button:disabled{background-position:0px -613px;}
div.button.disabled span, div.button:disabled span{background-position:right -733px;color:#bbb;cursor:default;} 
div.button{height:30px;}
div.button span{margin-left:13px;height:22px;padding-top:8px;font-weight:bold;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:12px;letter-spacing:1px;text-transform:uppercase;padding-left:2px;padding-right:15px;} 
div.selector{width:190px;font-size:12px;}
div.selector select{min-width:190px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:12px;border:solid 1px #fff;}
div.selector span{padding:0px 25px 0px 2px;cursor:pointer;}
div.selector span{color:#666;width:120px;text-shadow:0 1px 0 #fff;}
div.selector.disabled span{color:#bbb;} 
div.checker{margin-right:5px;} 
div.radio{margin-right:3px;} 
div.uploader{width:190px;cursor:pointer;}
div.uploader span.action{width:85px;text-align:center;text-shadow:#fff 0px 1px 0px;background-color:#fff;font-size:11px;font-weight:bold;}
div.uploader span.filename{color:#777;width:82px;border-right:solid 1px #bbb;font-size:11px;}
div.uploader input{width:190px;}
div.uploader.disabled span.action{color:#aaa;}
div.uploader.disabled span.filename{border-color:#ddd;color:#aaa;} 
.selector, .checker, .button, .radio, .uploader{display:-moz-inline-box;display:inline-block;vertical-align:middle;zoom:1;*display:inline;}
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus{outline:0;} 
div.button a, div.button button, div.button input{position:absolute;}div.button{cursor:pointer;position:relative;}
div.button span{display:-moz-inline-box;display:inline-block;line-height:1;text-align:center;} 
div.selector{position:relative;padding-left:10px;overflow:hidden;}
div.selector span{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
div.selector select{position:absolute; opacity:0; filter:alpha(opacity:0); height:25px; border:none; background:none;} 
div.checker{position:relative;}
div.checker span{display:-moz-inline-box;display:inline-block;text-align:center;}
div.checker input{opacity:0;filter:alpha(opacity:0);display:inline-block;background:none;}
div.radio{position:relative;}
div.radio span{display:-moz-inline-box;display:inline-block;text-align:center;}
div.radio input{opacity:0;filter:alpha(opacity:0);text-align:center;display:inline-block;background:none;} 
div.uploader{position:relative;overflow:hidden;cursor:default;}
div.uploader span.action{float:left;display:inline;padding:2px 0px;overflow:hidden;cursor:pointer;}
div.uploader span.filename{padding:0px 10px;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:default;}
div.uploader input{opacity:0;filter:alpha(opacity:0);position:absolute;top:0;right:0;bottom:0;float:right;height:25px;border:none;cursor:default;}


/*
=========================================================================================
END CSS LIBS
=========================================================================================
*/

/*Dynamic CSS */

@media screen and (max-width=990px){
	#headerbg{width: 990px;}
	#container{width: 990px;}
	#container2{width: 100%;}
	#footerbg{width: 990px;}
}

@media screen and (max-width=700px){
	#headerbg{width: 990px; float:none;}
	#container{width: 990px; float:none;}
	#container2{width: 990px; float:none;}
	#footerbg{width: 990px; float:none;}
}


/* CSS Document */
    
*
	{
		padding:0px;
		margin:0px;
		border:0px;
	}
	
img
	{
		margin:0px;
		padding:0px;
	}
	
body
	{
		margin:0px;
		padding:0px;	
	}
	
.clear
	{
		clear:both;
	}
	
#container
	{
		width:100%;
		min-width:990px;
		margin:auto;
		position:relative;
		background:#ffffff url(../images/bg01.jpg) repeat-x; -webkit-background-size:cover; -moz-background-size:cover; o-background-size:cover; background-size:cover;
	}

#container_reg
    {
        width:100%;
        margin:auto;
        background:url('../images/acount_bg.png');

    }
.menurecipes_content.text{ display: block;}
 .menurecipes_content.text ul li{ font-size: 20px;}
.menurecipes_content.eve{ display: none;}
.menurecipes_content.eve ul li{ font-size: 20px;}	
	
    
#container2
	{
		width:85%;
		margin:auto;
		position: relative;
	}
	
#topnavigation
	{
		width:85%;
		/*float:left;*/
		height:27px;
		margin: auto;
		
	}
	
#topnavigation ul
	{
		margin:0px 0px 0px 0px;
		padding:7px 0px 0px 0px;
	}
	
.lilink
	{
		list-style:none;
		padding:0px 13px 0px 13px;
		color:#fff;
		font-family:Helvetica;
		font-size:16px;
		font-weight:normal;
		float:left;
		margin:0px 0px 0px 0px;
	}
	
#topnavigation ul li
	{
		list-style:none;
		padding:5px 13px 5px 13px;
		color:#fff;
		font-family:Helvetica;
		font-size:13px;
		float:left;
		margin:0px 0px 0px 0px;
	}

#topnavigation ul li:hover
	{
		color: #FF6600;
	}
/*	
#topnavigation ul li:visited
	{
		border-bottom: 3px solid #FF6600;
		font-weight: bold;
	}
*/	
.current
	{
		border-bottom: 3px solid #FF6600;
		font-weight: bold;
	}

#topnavigation ul li a
	{
		color:#fff;
		text-decoration:none;
		font-family:Helvetica;
		font-size:13px;
		font-weight:inherit;	
	}
/*
#topnavigation ul li a:link
	{
		color:#fff;
		text-decoration:none;
		font-family:Helvetica;
		font-size:13px;	
		font-weight:normal;
	}

#topnavigation ul li a:visited
	{
		font-weight: bold;
		border-bottom: 3px solid #FF6600;
	}

#topnavigation ul li a:hover
	{
		font-weight: normal;
		border-bottom: 3px solid #FF6600;
	}

#topnavigation ul li a:active
	{
		font-weight: normal;
		border-bottom: 3px solid #FF6600;
	}
*/		
#commenttext
	{
		list-style:none;
		padding:0px 13px 0px 13px;
		color:#fff;
		font-family:Helvetica;
		font-size:14px;
		font-weight:normal;
		float:right;
		margin:0px 0px 0px 0px;
	}
	
#commenttext span
	{
		list-style:none;
		padding:0px 6px 0px 6px;
		color:#fff;
		font-family:Helvetica;
		font-size:14px;
		font-weight:normal;
		font-style:normal;
		float:none;
		margin:0px 0px 0px 0px;
	}	
	
#centerarea_main
	{
		width:100%;
		float:left;
		margin:0px 0px 15px 0px;
		padding:0px 0px 0px 0px;
		/*min-height: 600px;*/
	}
				
	
#logo
	{
		width:200px;
		height:65px;
		float:left;
		margin: 5px 0 0 14px;
	}
	
#searchbox_main
	{
		width:81%;
		float:left;
		margin:5px 0px 0px 30px;
		position: relative;
	}

/* Start Search box */
#searchbox
	{
		width:500px;
		float:right;
		height:41px;
		background-image:url(../images/searchbox500.png); background-repeat:no-repeat;
		margin:-3px 0px 0px 0px;
	}
	
#searchtextarea {
    float: left;
    height: 26px;
    margin: 7px 0 0 9px;
    width: 455px;
}	

.placeholder {
	color: #AAA;
}		

::-webkit-input-placeholder  { color:#ddd; }
:-moz-placeholder { color:#ddd; }

#logouttext
	{
		padding:0px 0px 0px 0px;
		color:#666666;
		font-family:Helvetica;
		font-size:12px;
		float:right;
		margin:0px 15px 0px 0px;
	}
#logouttext a
{
	text-decoration: none;
	color: #666666;
	font-family: Helvetica;
	font-size:12px;
}

#logouttext a:hover
{
	text-decoration: none;
	color: #FF6600;
	font-weight: normal;
	font-size:12px;
}
.subheading{
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
} 

.filledarea1
	{
		width:995px;
		float:left;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}  
 	
.filledarea
	{
		float: left;
    margin: 0 0 0 70px;
    padding: 0;
    width: 891px;
	}
    .filledarea ul
    {
    margin-left: 75px;
}
    
.filledarea ul li
    {
        list-style:none;
        float:left;
        margin-left:10px;    
    }    
	
#bottom_images
    {
        width:100%;
        margin-top:11px;
        float:left;
        margin:0px auto;
        padding:0px 0px 0px 0px;
        height: auto;
        min-height:565px;
    }
#bottom_images ul
    {
    margin: 0px 10px;
}
    
#bottom_images ul li
    {
        list-style:none;
        float:left;
        margin-left:0px;
        display:table-cell;
        background-color:white;
        /*width: -moz-min-content !important;
        width: -webkit-min-content;
        width: auto;*/
        height: 250px;
        width: 320px;    
        margin-bottom: 15px;
        margin-right:1.8em;
        text-overflow:ellipsis;
        overflow:hidden;
        padding:2px;
        border: 1px solid grey;
        -webkit-border-radius: 6px;
   		-moz-border-radius: 6px;
   		border-radius: 6px;
   		-webkit-box-shadow: #DADADA 2px 2px 1px 1px;
   		-moz-box-shadow: #DADADA 2px 2px 1px 1px;
   		box-shadow: #DADADA 2px 2px 1px 1px;
    }


#bottom_images ul li div.misc_pres_img
    {
    	text-align: center;
    	vertical-align: middle;
    	display: block;
    	height: 200px;
    	width:53%;
    	margin:auto;
    	float:left;
    	border: solid 1px grey;
    	margin-bottom:6px;
    	position:relative;
    	overflow:hidden;
    }
/*#bottom_images ul li div.misc_pres_img img
    {
    	max-width: 150px;
    	max-height: 200px;
    	margin-top: 1px;
    }    
*/
/*#bottom_images img{border:1px solid #C0C0C0;}

#bottom_images img:hover{border:1px solid #ff6600;}*/

.misc_pres_container{width: 95%; margin: auto; display:block; margin-top:5px;}

.misc_pres_button{width: 95%; margin:auto; display: block;}

.misc_pres_button hr{background: none repeat scroll 0 0 #EAEAEA; border: medium none; clear:both; color:#EAEAEA; float: none; height: 1px; margin-bottom: 8px; margin-top: 6px;}

.misc_pres_more_info{
	height: 23px;
  	width: 110px;
   	border: 0.1px solid #000000;
   	background: #111;
   	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
   	background: -webkit-linear-gradient(top, #333, #111);
   	background: -moz-linear-gradient(top, #333, #111);
   	background: -ms-linear-gradient(top, #333, #111);
   	background: -o-linear-gradient(top, #333, #111);
   	padding: 0px 0px;
   	-webkit-border-radius: 1px;
   	-moz-border-radius: 1px;
   	border-radius: 1px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 0px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 0px 0;
   	box-shadow: rgba(0,0,0,1) 0 0px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	font-size: 12px;
   	font-weight: bold;
   	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
   	cursor: pointer;
   	float:right;
}

.misc_pres_like{
	height: 23px;
  	width: 110px;
   	border: 0.1px solid #32CD32;
   	background: #32CD32;
   	background: -webkit-gradient(linear, left top, left bottom, from(#2DB82D), to(#32CD32));
   	background: -webkit-linear-gradient(top, #2DB82D, #32CD32);
   	background: -moz-linear-gradient(top, #2DB82D, #32CD32);
   	background: -ms-linear-gradient(top, #2DB82D, #32CD32);
   	background: -o-linear-gradient(top, #2DB82D, #32CD32);
   	padding: 0px 0px;
   	-webkit-border-radius: 1px;
   	-moz-border-radius: 1px;
   	border-radius: 1px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 0px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 0px 0;
   	box-shadow: rgba(0,0,0,1) 0 0px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	font-size: 12px;
   	font-weight: bold;
   	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
   	cursor: pointer;
   	float:left;
}

#pres_date_selected {width: 100%; height:30px; margin-bottom: 10px; margin-left:10px; float:left;}

#pres_date_selected hr{background: none repeat scroll 0 0 #AAA; border: medium none; clear:both; color:#AAA; float: none; height: 1px; margin-bottom: 8px; margin-top: 6px;}

#pres_date_cont {width:90%; height: 30px; line-height:30px; float:none; margin-left:0.2em; text-align:middle; background-color:#E0E0E0; border-bottom:solid 1.5px #333; border-top: solid 1.5px #333;}

#poster_filter_title_cont{width: 100%; height:30px; margin-bottom: 10px; border-radius: 5px 5px 0 0;}

#poster_filter_title{width:90%; height: 30px; line-height:30px; float:none; margin-left:0.5em; text-align:middle;}

.misc_pres_comment{width: 43%; float:right;}

#misc_pres_wrapper{height:100%; width:100%; margin:0; padding:0;border:0;}

#misc_pres_wrapper td{vertical-align:middle; text-align:center;}

.misc_pres_img{
	position:relative;
	overflow:hidden;
}


.misc_pres a{text-decoration:none !important;}

.misc_pres a h4:hover{text-decoration: underline;}

.misc_pres h4{
	font-size: 1em !important;
	color: #313131;
	text-align: left;
	height:50px;
	width: 100%;
	overflow:hidden;
}
.misc_pres h6{
	font-size: 0.7em !important;
	display:inline;
	font-style:normal;
	color: #AAAAAA;
	text-align: left;
	height:150px;
	width: 100%;
	overflow:hidden;
}

.misc_pres h6 p{
	font-size: 1em !important;
	display:inline;
	font-weight:normal;
	color: #AAAAAA;
	text-align: left;
	height:150px;
	width: 100%;
	overflow:hidden;
}

#headingtext
	{
		padding:0px 0px 0px 0px;
		color:#000;
		font-family:Calibri;
		font-size:18px;
		text-align:center;
		font-weight:bold;
		margin:0px 0px 0px 0px;
	}
	
.textmain
	{
		float: left;
		
    	margin: 11px 0 0px 15px;
   		width: 250px;
	}
	
.textheading
	{
		font-family:Helvetica;
		font-size:15px;
		color:#ff6600;
		float:left;
		font-weight:bold;
	}
	
.txt
	{
		font-family:Calibri;
		font-size:15px;
		color:#000;
		float:left;
		
	}
	
	
	
.txt2
	{
		color: #333333;
    	float: right;
    	font-family: Helvetica;
    	font-size: 14px;
		font-weight:bold;
    	margin: 19px 28px 5px;
}

#sundayarea
	{
	    background-image: url("../images/borderline.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        height: 32px;
        margin: 5px auto 0px;
        padding: 0 126px;
        width: 508px;
	}
    #april
    {
        width: auto;
        height: auto;
    }
    .aprilregion
    {
        float: left;
        margin-left:147px;
    }
	.minprice_main
	{
	float: left;
    height: 63px;
    margin: 0 0 0 8px;
    width: 170px;
   }
	.minprice_heading
	{
	color: #000000;
    float: left;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0;
    width: 178px;
    text-align: center;
	}
	
.nextbutton
	{
		width:31px;
		height:23px;
		float:left;
		margin:0px 0px 0px 0px;
	}
	
.textbox
	{
		width:110px;
		height:33px;
		float:left;
		margin:0px 0px 0px 0px;
		/*background-image:url(../images/textarea_box.png); background-repeat:no-repeat;*/
		text-align: center;
	}
	
.textfiled
	{
		height: 10px;
    	margin: 11px 0 0 7px;
    	width: 76px;
	}
	
.everything_area
	{
/*	background-image: url("../images/borderline1.png");*/
    background-position: center bottom;
    background-repeat: no-repeat;
    border-bottom: 2px solid #C0C0C0;
	position:relative;
    border-top: 2px solid #C0C0C0;
    height: 61px;
    margin: 10px 0 10px 145px;
    padding: 0;
    width: 712px;
	}
	
	
.everything_area ul{
    position:relative;
    height:2em;
    margin:0px 0px;
    padding:0;
    white-space:nowrap;
}
.everything_area ul li{
   display: inline;
    float: left;
    font-family: Calibri;
    font-size: 19.98px;
    font-weight: bold;
    margin-left: 11px;
    margin-right: 29px;
    text-align: left;
    width: 157px;
}


.everything_area ul li a{
    display:inline-block;
    box-sizing:border-box;
    padding:17px .2em;
     line-height: 25px;
    color:#000;
    text-decoration:none;
    text-shadow:0 1px 0 white;
    background-color:transparent;
    transition:background-color .3s ease;
}
.everything_area ul li a:hover,ul li a:focus{
    color:#ff6600;
    transition:background-color .3s ease .4s;
}
.everything_area ul li a:focus, .everything_area ul li.active a{
    border-bottom:3px solid #ff6600;
}
.everything_area ul li:last-child::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-3px;
    display:block;
    width:2em;
    height:3px;
    background:none;
   
    transition: all .5s ease;
}
.everything_area ul li:hover ~ li:last-child::after,
.everything_area ul li:lastchild:hover::after{background:#C351FA;}

.everything_area ul li:nth-child(1):hover ~ li:last-child::after{left:0;width:5em;}
.everything_area ul li:nth-child(2):hover ~ li:last-child::after{left:2em;width:4em;}
.everything_area ul li:nth-child(3):hover ~ li:last-child::after{left:6em;width:4em;}
.everything_area ul li:nth-child(4):hover ~ li:last-child::after{left:10em;width:12em;}
.everything_area ul li:last-child:hover::after{left:22em;width:5em;}	



/* Start Home page filtering paragraphs */
p.nav_menu{
	margin: 0 0 25px;
	position: relative;
	text-align: center;
}

/* End Home page filtering paragraphs */

/* Start Home page filtering div */
.nav_div{
	display:none;
	width: 175px;
	position: relative;
	margin-bottom: 25px;
	margin-top:-24px;
	background: #F2F2F2;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#F2F2F2));
   	background: -webkit-linear-gradient(top, #FAFAFA, #F2F2F2);
   	background: -moz-linear-gradient(top, #FAFAFA, #F2F2F2);
	background: -ms-linear-gradient(top, #FAFAFA, #F2F2F2);
	background: -o-linear-gradient(top, #FAFAFA, #F2F2F2);
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;	
    -webkit-box-shadow: #C2C2C2 0 1px 0;
    -moz-box-shadow: #C2C2C2 0 1px 0;
    box-shadow: #C2C2C2 0 1px 0;
    text-shadow: #C2C2C2 0 1px 0;
    font-size: 0.85em;
    overflow: auto;
}

/* End Home page filtering div */


/* Start Home page filtering buttons */	

.nav_div_choices {
	margin-top: 10px;
	margin-bottom:10px;
}


button.nav_button {
   height: 30px;
   width: 175px;
   border-top: 0px solid #ffffff;
   background: #F9B564;
   background: -webkit-gradient(linear, left top, left bottom, from(#F9B564), to(#F9B564));
   background: -webkit-linear-gradient(top, #F9B564, #F9B564);
   background: -moz-linear-gradient(top, #F9B564, #F9B564);
   background: -ms-linear-gradient(top, #F9B564, #F9B564);
   background: -o-linear-gradient(top, #F9B564, #F9B564);
   padding: 8.5px 17px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-weight: bold;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   }
button.nav_button:hover {
   border-top-color: #fff;
   background: #ff6600;
   color: #fff;
   }
button.nav_button:active {
   border-top-color: #fff;
   background: #ff6600;
   }

button.nav_button_choice {
   height: 27px;
   width: 64px;
   border-top: 0px solid #ffffff;
   background: #475474;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 0.8em;
   font-weight: normal;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   cursor: pointer;
   margin-bottom:5px;
   }

button.nav_button_choice:hover{
	border:1px solid #586381;
	background: #586381;
	color:#ff6600;
}


/* Start Home page filtering checkbox */

.nav_div input[type=checkbox]{
	display: inline-block;
	font-size: 0.95em;
	line-height: 1.5em;
	margin: 0 0.25em 0 0; 
	width: 0.95em;
	height: 0.95em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
}
	
/* Start Home page filtering labels */

.nav_div label{
	font-size: 0.95em;
	font-weight: normal;
	margin-left: 10px;
}

/* Start Home page filtering drop-down */

.nav_div select{
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 0.85em;
}

.nav_div select option{
	font-size: 0.85em;
	font-weight:normal;
}

/* Start Home page hours display */
.hours_display{
	float:right; 
	width:100px; 
	margin: 20px 0 0 0;
}

#hours_range_select label{
	float:left; 
	width:75px;
	text-align:left;
	margin: 23px 0 0 0;
}

/* Other CSS */
.everything
	{
	float: left;
    margin: 26px 0 0;
    width: 210px;
}
    
.everything_icon
    {
        width:24px;
        float:left;
        margin:0px 0px 0px 0px;
    }
.every_heading
    {
       display:inline;
    text-align:center;
	margin-left:10px;
	color:#ff6600 !Important;
	width: 157px;
    }
	
.every_heading a
    {
	color:#ff6600!Important;
	}	
	
#category
{
    float: left;
    margin: 26px 0 0;
    width: 250px;
}
#everything1{
}
#concerts{
}
#category_icon
    {
        width:24px;
        float:left;
        margin:0px 0px 0px 0px;
    }  
        #_heading
    {
        color: black;
        float: left;
        font-family: Calibri;
        font-size: 18px;
        font-weight: bold;
        margin: 0px 0 0 10px;
        width: 178px;
    }
    
.concerts
    {
    float: left;
    margin: 26px 0 0;
    width: 250px;
}
    .concerts_icon
    {
        width:24px;
        float:left;
        margin:0px 0px 0px 0px;
    } 
        #concerts_heading
    {
        color: black;
        float: left;
        font-family: Calibri;
        font-size: 18px;
        font-weight: bold;
        margin: 0px 0 0 10px;
        width: 178px;
    }
    
    .more
    {
        float: left;
        margin: 26px 0 0;
        width: 250px;
    }
	.more_icon
    {
        width:24px;
        float:left;
        margin:0px 0px 0px 0px;
    } 
#more_heading
    {
        color:black;
        float: left;
        font-family: Calibri;
        font-size: 18px;
        font-weight: bold;
        margin: 0px 0 0 10px;
        width: auto;
    }

#headerbg
	{
		width:100%;
		min-width:990px;
	    margin:0px 0px 0px 0px;
	    background-image:url(../images/footerbg.png); 
	    height:34px;
	}

#footerbg
	{
	    width:100%;
	    min-width:990px;
	    margin:0px 0px 0px 0px;
	    background-image:url(../images/footerbg.png); background-repeat:repeat-x;
	    height:34px;
	}
	
#bottomnavigation {
        height: 27px;
        margin: auto;
        padding: 8px 0 0;
        width: 85%;
	}
	
#bottomnavigation ul
	{
		float: right;
        margin: 0;
        padding: 0;
	}
	
#bottomnavigation ul li
	{
		list-style:none;
		padding:0px 13px 0px 13px;
		color:#fff;
		font-family:Calibri;
		font-size:16px;
		
		float:left;
		margin:0px 0px 0px 0px;
	}
#bottomnavigation ul li a{
	color:#fff;
	text-decoration:none;
 }		
/*css for category page*/
#bottom_scroll
{
    width:1000px;
    height: auto;
	margin-left:34px;
}
.left_region
{
   width:100px;
   height: auto;
   float: left;
   padding: 5px; 
}
.left_images
    {
        width:auto;
        float:left;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
.left_images  ul
    {
    margin-left:0px;
    }
.left_images  ul li
    {
        list-style:none;
        float:left;
        margin-left:0px;    
    }   
.right_region 
    {
        width: auto;
    }
.right_images
    {
        width:800px;
        height:470px;
        float:left;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
.right_images  ul
    {
    margin-left:10px;
}
    
.right_images  ul li
    {
        list-style:none;
        float:left;
        margin-left:40px;    
    }    
#text_part
{
    width: 900px;
    height: 50px;
}
.event_type
{
    float: left;
}

.event_type select{
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 0.85em;
}

.event_type h6
{
	font-weight: bold; 
	margin-bottom:20px;
	margin-right:98px;
	width:112px; 
	font-family: Calibri;
    font-size: 19.98px;
        }
		
.start_time
{
    float: right;
}

.start_time h6
{
	font-weight: bold; 
	margin-bottom:20px;
	margin-right:98px; 
	font-family: Calibri;
    font-size: 19.98px;
        }
		
h6
	{
	font-family: Helvetica;
	font-size: 15px;
	}		
/*css for login and event page*/
.datearea{border-bottom:2px solid #FF6600; width:975px;float:left;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.heading{float: left; font-size: 24px; margin-top: 10px;}
.txt3{color: #000000; float: right;font-family: Calibri;font-size: 16px;margin-top:5px;margin-right:0px;width: 900px;margin-bottom: 20px;}
.txt{color: #000000; float: left;font-family: Calibri;font-size: 16px;margin-top:0px;margin-right:19px;width: 900px;margin-bottom:-22px;}
.txt a{color: #000000; text-decoration:none;} 
p.long_text_body{line-height:20px; font-family: Georgia; font-size: 16px; font-weight:normal; color:#111111}
p.long_text_header{color: #66666; font-size: 16px;font-family: Georgia;font-weight: bold;font-style: normal; text-decoration:underline;}
.date{color: #000000; float: right;font-family: Calibri;font-size: 16px;margin-top:5px;margin-right:19px;width: 900px;margin-bottom: 5px;}  
.cre_event{color: #66666; font-size: 30px;float:left;margin-bottom:10px; margin-top:40px;width:auto;font-family: Georgia;font-weight: normal;font-style: normal;}
#login{width: auto;height:auto;margin-top:10px;}

.login_content{}
.cre_event_content{float:right;width:46em; margin-left:100px;}

.upload_image{float:left;width:150px ;}
.bln_area{height:50px;}
.formlist{line-height: 40px;}
#login_form{margin-left:10px;}
.formlist1{line-height: 4em; font-family: Helvetica; font-size:0.9em; color:#444444; list-style:none;}
.adminformlist{line-height:15px;}
.cal_div{width: 200px; height:100px; float:left; margin-left:52px;}
.per_acc{width: 200px;height:auto;}
.fltl{float: left; width:95px;height:auto;}
.fltr{float: left; width:95px;height:auto;}    
#event_categories{width:500px; float: left; margin-left:35px;}
#event_categories label{ width: 80px; margin-right: 5px; font-size:1em; font-family:Helvetica; }
#event_categories div.radio{ float: left; margin: 6px 0;  }
#event_categories .event_type{width:150px;height:auto;float: left; margin-right:20px;}

.event_type ul li{display: block;}



#start_hour{width:540px;height:auto;margin-left:4em; float:left;}
.start_left{width: 260px;height: auto;float:left;margin-top:-30px;margin-left:3px;}
.start_left label{font-size:0.85em; width:5.5em; display:inline-block;}
.start_right{width: 260px;height: auto;float:left; margin-left: 1.1em;margin-top: -30px;}
.start_right label{font-size:0.85em; width:5.5em; display:inline-block;}

/*css for event_create*/
.event_prev{margin-top:17px;width:960px;height:auto;margin-left:25px;}
.left_img_prev{float: left; width:235px;margin-right: 20px; text-align: center;}
.left_img_prev img{max-width: 220px; max-height: 300px;}
.prev_det{margin-top: 20px; font-family:Helvetica;}
.prev_tit{font-family:Helvetica; font-size: 2em;}
.right_det{float: left; width:650px;}
.top_critic{}
.det_crit{width: 500px; font-family:Helvetica;}
.det_crit p{ font-family:Helvetica;}
.review{font-weight:bold;border-bottom: 2px solid black;}
.txt_area{background: url('./images/textarea_shdw.png');}

#date_time{width:auto;height:auto;margin-top:5px;}
#date_time .area{float: left;width:300px;}
#date_time .todays_date{float: right;}
.cust_ratin{height: auto; margin-top: 10px;}
.cust_rating{margin-top:1em; display:block;}
.event_desc{height: auto; margin-top: 10px; margin-left: 1em; font-size:0.9em; line-height: 1.5em;}
.cust_ratin .rating{float: left; font-family: Helvetica; color:#2E2E2E; }
.cust_ratin .rating_pic{float: left; height: 20px; margin-top: 0px;}
.rate_show{float: left;width:250px;height: auto;margin-left: 60px;}
.rate_show .rating{float: left; width:100px; font-family:Helvetica;}
.rate_show .rating_pic{float: left; height: 20px; margin-top:4px; font-family: Helvetica;}
#latest_events{width: auto;height: auto;}
.review_sort{width:auto;height:25px; margin-top: 1.5em;}
.lreview_sort{float: left;width:200px;margin-top: 5px; font-family: Helvetica;}
.rreview_sort{float: right;width: 400px;}
.event_stars{height: 200px; width: auto; border-bottom: 2px;}
.event_stars{width: 400px;float: left;}
.ev_name{float:left;}
.evnt_pic{float:left;}
.review_rating{border-bottom: 0.1px solid lightgrey; font-family: Helvetica;}
.event_text{height: auto;width: auto;margin-top: 10px;margin-bottom: 10px;}
.event_text p{ font-family:Helvetica; color: #4C4C4C; font-size:0.85em; line-height:1.3em; margin-bottom:0.8em;}
.login_top_div{position: absolute; top:20px; display: none; right:0px; width: 330px; background: #FBFBFB; padding: 10px; border-radius: 0px; color: #666666; font-family: Helvetica; font-weight: bold; font-size: 13px; border-color: #BEBEBE; box-shadow: 0 2px 4px rgba(0,0,0,0.12);}
.login_top_div dl{overflow:hidden; padding:5px;}
.login_top_div dt{margin: 0; float: left; padding: 7px 0; width: 20%; font-family:Helvetica; font-size:13px; font-style:bold;}
.login_top_div dd{margin: 0; padding:7px 0; float:left; width:80%}
.login_top_div input#id_username{font-family:Helvetica; font-size:13px; font-style:normal; width: 230px; border-color:#BEBEBE;float:right; border-bottom:1px solid #CCCCCC; background-color:transparent;}
.login_top_div input#id_password{font-family:Helvetica; font-size:13px; font-style:normal; width: 230px; border-color:#BEBEBE;float:right; border-bottom:1px solid #CCCCCC; background-color:transparent;}
.login_top_div label[for=id_username]{font-family:Helvetica; font-size:12px; font-weight:bold; color:#111111;}
.login_top_div label[for=id_password]{font-family:Helvetica; font-size:12px; font-weight:bold; color:#111111;}
.login_top_div .login_submit{background: #FFFFFF; border-radius: 5px; border: 1px solid #BEBEBE; padding:5px; color: #FF6000; margin: 10px 110px 5px; font-family: Helvetica; font-size: 12px; font-weight: bold; width: 100px;}
.start_hour input[type=text]{display:block; width: 150px !important; float:left; font-size:0.9em; font-family:Helvetica; font-weight:normal;}

p.error{display: block; height: 30px; color: #FF0000; padding-left: 30px; padding-top: 5px; background: url("../images/cross_icon.png") no-repeat; margin: 10px 0px 0px 120px;}
p.mainerror{display: block; height: 35px; color: #FF0000;}
.profile_nav_index{display: block; width:20px; height:20px; font-weight:bold; color:#FFFFFF; background:#FF6600;}
.continue_button{border: none; background: url(../images/cont.png) no-repeat; width: 20em; height: 5em; margin-left: 21em; margin-top: 2em;}
.continue_button_personal{border: none; background: url(../images/cont.png) no-repeat; width: 265px; height: 45px; margin-left: 326px; margin-top: 180px;}

.login_content p{margin-bottom:1.5em; font-family:Helvetica; font-size:1.2em; font-weight: normal; color:#FF8C00; font-style:italic;}
.cre_event_content p{margin-bottom:1.5em; font-family:Helvetica; font-size:1.2em; font-weight: normal; color:#FF8C00; font-style:italic;}

.login_content .form_fields{clear: both; margin-bottom: 2.5em; margin-left:0px;}
.cre_event_content .form_fields{clear: both; margin-bottom: 2.5em; margin-left:6em;}

.login_content .form_fields label{display: block; width: 150px; float: left; font-size:12px; font-weight:bold; color:#111111;}
.cre_event_content .form_fields label{display: block; width: 150px; float: left; font-size:12px; font-weight:bold; color:#111111;}

.login_content .form_fields input[type=text],.login_content .form_fields input[type=password]{display: block; width: 300px; float: left;font-size:13px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:normal;padding:3px;color:#666666;margin-left:5px; background-color: transparent;outline:0;border-bottom: 1px solid #CCCCCC;}
.cre_event_content .form_fields input[type=text],.login_content .form_fields input[type=password]{display: block; width: 300px; float: left;font-size:13px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:normal;padding:3px;color:#666666;margin-left:5px; background-color: transparent;outline:0;border-bottom: 1px solid #CCCCCC;}

.login_content .form_fields input[type=radio]{background-image: url(../images/sprite.png); background-repeat: no-repeat; -webkit-font-smoothing: antialiased;height:18px;width:18px;background-position:0px -279px; border:none;}
.cre_event_content .form_fields input[type=radio]{background-image: url(../images/sprite.png); background-repeat: no-repeat; -webkit-font-smoothing: antialiased;height:18px;width:18px;background-position:0px -279px; border:none;}

.login_content .formlist1 input[type=text]{border-bottom: 1px solid #CCCCCC; margin-left:3em; width: 350px;font-size:1em;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding:3px;color:#030303;background-color: transparent;outline:0;}
.cre_event_content .formlist1 input[type=text]{border-bottom: 1px solid #CCCCCC; margin-left:3em; width: 350px;font-size:1em;font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding:3px;color:#030303;background-color: transparent;outline:0;}

.login_content .formlist1 #start_hour input[type=text]{width: 50px !important; margin-left: 16px;}
.cre_event_content .formlist1 #start_hour input[type=text]{width: 50px !important; margin-left: 16px;}

.login_content .formlist1 b{display: inline-block; width: 120px;}
.cre_event_content .formlist1 b{display: inline-block; width: 130px; margin-left:20px;}

.login_content .formlist1 #start_hour label{display: inline-block; width: 80px;}
.cre_event_content formlist1 #start_hour label{display: inline-block; width: 80px;}

button.uploader{
	height: 1.6em;
   	width: 15.5em;
   	border: 1px solid #CCCCCC;
   	background: #DDDDDD;
   	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
   	background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
   	background: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
   	background: -ms-linear-gradient(top, #EEEEEE, #DDDDDD);
   	background: -o-linear-gradient(top, #EEEEEE, #DDDDDD);
   	padding: 0px 10px;
   	-webkit-border-radius: 12px;
   	-moz-border-radius: 12px;
   	border-radius: 12px;
   	-webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,0.1) 0 1px 0;
   	box-shadow: rgba(0,0,0,0.1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: #333333;
   	font-size: 0.85em;
   	font-weight: normal;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
   	cursor: pointer;
   	margin-top:0.5em;
}

button.uploader:hover{
	background: #FF6600;
	color:white;
	border: 1px solid #FF6600;
}

button.uploader:active{
	background: #FF6600;
	color:white;
	border: 1px solid #FF6600;
}


.performance_fs{
	border: 2px solid #A0A0A0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.showtime_fs{
	border: 1px solid #ff6600;
	border-radius:15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin-left:2em;
	margin-right:2em;
	margin-bottom:1em;
	background-color:#FDF1E7;
}

.showtime_select_div{
	width:17em;
	display: inline-block;
	float:left;
	margin-right:2em;
}

.showtime_select_div b{
	font-size:0.8em;
	color:#111;
}
.performance_fs legend{
	font-size:0.9em;
	font-weight:normal;
	font-style:italic;
	color: #333333;
	padding: 1em;
	margin-left:2em;
}

.showtime_fs legend{
	font-size:1.1em;
	font-weight:normal;
	font-style:italic;
	color: #333333;
	padding: 0.5em 0.5em 0.5em;
	margin-left:2em;
}


.formlist1_div{
	display: inline-block;
	width:20em;
	float:left;
	margin-right:2em;
}

.cre_event_content .formlist1 .formlist1_div input[type="text"]{width: 100px; margin-left:2px; text-align:center;}
.cre_event_content .formlist1 .showtime_select_div input[type="text"]{width: 6em; margin-left:2px; margin-bottom:1em; text-align:center;}

.submitButton{border: none; background: url(../images/submit.png) no-repeat; width: 265px; height: 45px; margin-left: 500px; margin-top: 30px;}
.profile_content .form_fields label{font-weight: 700; font-family:Helvetica, Arial, sans-serif; font-size:0.89em; margin-left:10px}
.institute_operation_left{float: left;}
.institute_operation_right{float: left; margin-left: 10px;}
.institute_operation_left input[type=text],.institute_operation_right input[type=text]{width: 100px !important;}
.ui-datepicker-trigger{vertical-align: middle; 	}
.left_aligned_radios ul,.left_aligned_radios li{display: inline-block;}
#start_hour input[type=text]{width: 100px;}

#home_calendar{width: 708px; height: 144px; font-family: Calibri;}
#month_section{color: #090909; font-weight: bold; font-size: 18px; font-family: Calibri; text-align: center; margin-bottom: 10px;}
#week_section{color: #090909; font-weight: bold; font-family: Calibri; text-align: center; border-bottom: 2px solid #C0C0C0; padding-bottom: 5px;}
#week_section span.red{color: #FF0000;}
#week_section span{margin: 0px 5px; font-size: 16px;}
#days_section{border-bottom: 2px solid #C0C0C0;}
#left_movement, #days_container, #right_movement{float: left;}
#left_movement div.prev_arrow_div,#right_movement div.next_arrow_div{float: left; margin-top: 20px;}
#left_movement div.prev_arrow_div{margin-right: 15px;}
#right_movement div.next_arrow_div{margin-left: 15px;}
#days_container{width: 470px; padding: 10px 40px;}
#days_container a
{
	font-size: 18px;
	color: #090909;
	text-decoration: none;
	font-family: Calibri;
	font-weight: bold;
	display: inline-block;
	width: 18px;
	text-align: center;
	padding: 2px 8px;
	float: left;
	margin-bottom: 5px;
}
#days_container a.calendar_active{
	border-radius:12px;
	background-color:#000000 !important;
	color:#FFFFFF;
}
#days_container a.calendar_hover{
	background-color:#FF6600;
	color:#FFFFFF !important;
}
#days_container a.calendar_start
{
	border-radius:12px 0px 0px 12px !important;
}
#days_container a.calendar_end
{
	border-radius:0px 12px 12px 0px !important;
}
#days_container a.today{
color:#FF6600;
}
.last_day
{
	padding:2px 3px !important;
}
.filter_section{font-family: Calibri; width: 725px;}

#event_categories h3{font-size: 0.8em;font-weight:bold;}

#event_categories .event_genre{width: 150px;height: auto;float: left; margin-right:20px;}
.event_genre_div{max-height: 200px; overflow: auto; font-size:0.85em; margin-top:0em;}
.event_genre ul li{display: block; font-size:0.85em; line-height:2em;}

#event_categories .event_public{width: 150px;height: auto;float: left;}
.event_public ul li{display: block; font-size: 0.85em; line-height:2.2em;}
.event_public label{font-size:inherit;}

#searchbutton{}
.menurecipes_content{width: 894px;}
#searchbutton{background-image:url(../images/searchbox_button.png); height: 25px; width: 24px; margin-top: 8px;}
/*#upload_link{margin-top:10px;margin-left:40px; padding: 10px; color: #111111; border: 1px solid #666666; border-radius: 10px;}*/
/*#upload_link{margin-top:10px;margin-left:40px; padding: 10px; color: #111111; border: 1px solid #666666; border-radius: 10px;}*/
.left_aligned_radios ul{margin-left: 32px;}
.left_aligned_radios li{margin-left: 2.5em; margin-right:2.5em;}
.left_aligned_radios li label{font-size:0.9em;}
.repeat_div ul li{display: inline-block; width : 115px;}


a.custom_link
{
	text-decoration: none;
	color: #666666;
	font-family: Helvetica;
	font-size:12px;
}

a.custom_link:hover
{
	text-decoration: none;
	color: #FF6600;
	font-weight: normal;
	font-size:12px;
}
.performance_hours_div{
	margin-left:2.5em;
	font-size:0.9em;
	line-height:3em;
	color:#111;
	display:none;
	list-style:none
}

.performance_hours_div fieldset{display:none;}


.performance_hours_div_wonly{
	margin-left:2.5em;
	font-size:0.9em;
	line-height:3em;
	color:#111;
	display:none;
	list-style:none;
}

.performance_hours_div_monly{
	margin-left:2.5em;
	font-size:0.9em;
	line-height:3em;
	color:#111;
	display:none;
	list-style:none;
}




.performance_hours_div ul li{
	margin-left:0.5em;
	color: #111;
	font-size:0.75em;
	font-weight: bold;
	font-family:Helevetica;
	line-height: 1em;	
}

.performance_hours_div_wonly ul li{
	margin-left:1.5em;
	color: #111;
	font-size:1em;
	font-weight: normal;
	font-family:Helevetica;
	line-height: 1em;
}


.performance_hours_div_wonly li {
	float:left;
	margin-left:1.5em;
}

.performance_hours_div_wonly label {
	font-size:0.8em;
	color:#111;
}



.performance_hours_div select{
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 1em;

}


.performance_hours_div_monly select{
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 1em;

}

.performance_hours_div_dmwonly{
	margin-left:2.5em;
	font-size:0.9em;
	line-height:3em;
	color:#111;
	display:none;
}

.performance_hours_div_dmwonly select{
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 1em;
}


.performance_hours_div_dmwonly label {
	font-size:0.8em;
	color:#111;
}

#frequency_label{margin-left:1em;}

.check_box{ float:right; margin-right:4em; margin-top:-1em;}
.check_box label{font-size:0.8em; color:#333;}

.genre_choice{
	display:none;
	background: transparent;
	-webkit-appearance:button;
	-moz-appearance:button;
  	color: #555;
  	font-size: 0.85em;
  }


/*Carousel picture presentation*/ 

.cat_head{
	font-size:0.8em;
	font-family: Helvetica;
	background-color: #45A8CE;
	font-weight:bold;
	border-top: 0px solid #ffffff;
   	background: #475474;
   	background: -webkit-gradient(linear, left top, left bottom, from(#586381), to(#475474));
   	background: -webkit-linear-gradient(top, #586381, #475474);
   	background: -moz-linear-gradient(top, #586381, #475474);
   	background: -ms-linear-gradient(top, #586381, #475474);
   	background: -o-linear-gradient(top, #586381, #475474);
   	-webkit-border-radius: 12px;
   	-moz-border-radius: 12px;
   	border-radius: 12px;
   	-webkit-box-shadow: inset 0 0 15px #BDBDBD;
   	-moz-box-shadow: inset 0 0 15px #BDBDBD;
   	box-shadow: inset 0 0 15px #BDBDBD;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	text-decoration: none;
	height:170px;
	width: 120px;
	margin-top:1em;
	margin-bottom:3em;
	padding:0 12px;
	vertical-align:middle;
	text-align:center;
	float:left;
	border-bottom: 0.1px solid #010101;
	
}

.cat_head label{
	margin-top: 70px;
	font-size:1.15em;
	display:block;
}



.carousel_pres{
	margin-bottom:1em;
	margin-top:1em;
}

.carousel_pres img{
	max-height:130px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.carousel_pres ul li{
	margin-right:0.5em !important;
	font-size:0.8em;
	color: #333;
	font-weight: bold;
}

.carousel_pres a{
	text-decoration:none !important;
}

.carousel_pres h4{
	font-size: 0.8em !important;
	color: #313131;
	text-align: center;
	max-width:150px;
}

.image_c{
	height:130px;
}


/* User event listing prensentation */

.ue_img{
	float: left;	
}

img.ue_im{
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	max-width:150px;
	max-height:150px;
}

.ue_details{
	float:left;
	color: #111;
	font-size: 0.8em;
}

.ue_details p{
	font-size:1.2em;
	color:#222;
	text-align:middle;
	line-height:1.5em;
	margin-left:1em;
}

.ue_list{
	display:block;
	margin-bottom:9em;
}
div.account_div
{
    margin: 20px 15px 0px;
}
h1.account_title
{
    font-size: 24px;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    font-family: Helvetica;
    padding: 10px 0px;
}
div.main_account
{
    margin-top: 30px;
}
div.left_account
{
    float: left;
    width: 200px;
}
div.right_account
{
    float: left;
    width: 740px;
    margin-left: 20px;
}
div.left_title
{
    color: #3E3E3E;
    font-weight: bold;
    font-size: 16px;
}
div.left_links
{
    padding-left: 20px;
    margin-bottom: 80px;
}
div.left_links:last-child
{
    margin-bottom: 0px;
}
div.left_links ul
{
    list-style: none;
}
div.left_links ul li
{
    color: #FD8F53;
    margin: 5px 0px;
}
div.left_links ul li a
{
    color: #FD8F53;
    text-decoration: none;
}
div.right_title
{
    background: #424F6F;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
}
div.right_content
{
    margin: 20px 0px 50px 30px;
}
div.right_content:last-child
{
    margin-bottom: 0px;
}

div.right_item
{
    float: left;
    width: 95px;
    margin-right: 20px;
}
a.event_Details_link{font-weight: bold; color: #000000; margin-left: 10px;}
form.ratings_form{border: 1px solid #BABABA; padding: 10px; border-radius: 5px; background: #FAFAFA; margin-top: 10px;}
form.ratings_form p{margin: 10px;}
form.ratings_form p label{display:  inline-block; width: 100px; vertical-align: top; font-weight: bold;}
form.ratings_form p input[type=text], form.ratings_form p textarea{border: 1px solid #A8A8A8; border-radius: 5px; width: 450px; padding:  5px;}
form.ratings_form p textarea{height: 100px;}
.custom_submit{
	height: 30px;
   	width: 175px;
   	border-top: 0px solid #ffffff;
   	background: #475474;
   	background: -webkit-gradient(linear, left top, left bottom, from(#586381), to(#475474));
   	background: -webkit-linear-gradient(top, #586381, #475474);
   	background: -moz-linear-gradient(top, #586381, #475474);
   	background: -ms-linear-gradient(top, #586381, #475474);
   	background: -o-linear-gradient(top, #586381, #475474);
   	padding: 8.5px 17px;
   	-webkit-border-radius: 12px;
   	-moz-border-radius: 12px;
   	border-radius: 12px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	font-size: 13px;
   	font-weight: bold;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
   	cursor: pointer;
	}
	
.custom_submit:hover{
	border-top-color: #fff;
   	background: #ff6600;
   	color: #fff;
	}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/3-stars.gif) no-repeat 0 0px}
div.star-rating a{display:block;width:16px;height:100%;background-position:-50px -5px;border:0}
div.star-rating-on a{background-position:-5px -5px!important}
div.star-rating-hover a{background-position:-5px -5px}
div.rating p{font-style:bold !important;}
.comm_sign p{font-size: 0.8em; margin-top:0.25em; margin-bottom:0.5em;}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important;}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important;}
/* END jQuery.Rating Plugin CSS */

textarea.emails_textarea{width: 100%; height: 60px; border: 1px solid #DDDDDD;}
a.emails_link{color: #FD8F53; font-weight: bold;}
div.message_success{background: #FD8F53; width: 100%; border-radius: 10px; color: #FFFFFF; padding: 10px; margin-top: 5px; font-weight: bold;}
div.message_error{background: #FD8F53; width: 100%; border-radius: 10px; color: #FFFFFF; padding: 10px; margin-top: 5px; font-weight: bold;}
#city_change_div{position: absolute; top:96px; display: none; left:0px; background: #FBFBFB; padding: 10px; border-radius: 0px; color: #666666; font-family: Helvetica; font-weight: bold; font-size: 13px; border-color: #BEBEBE; box-shadow: 0 2px 4px rgba(0,0,0,0.12);}
#city_change_div select{border: 1px solid #BEBEBE; border-radius: 5px; padding: 5px; width: 150px;}
#city_change_div .login_submit{background: #FFFFFF; border-radius: 5px; border: 1px solid #BEBEBE; padding:5px; color: #FF6000; font-family: Helvetica; font-size: 12px; font-weight: bold; width: 100px;}
#ratings_div ul.errorlist li{margin-left: 10px; color: #F00F00;}
#highlighter_div{background: #FF8C00; border-radius: 10px; position: absolute;}
.touchcarousel_dashboard{width: auto !important; float: none !important; height:  auto !important;}
.touchcarousel_dashboard ul li div img{max-width: 150px; max-height: 130px; margin-top: 5px;}    
.touchcarousel_dashboard img{border:1px solid #C0C0C0;}
.touchcarousel_dashboard img:hover{border:1px solid #ff6600;}
img#poster_image{max-width: 220px; max-height: 300px;}
div.like_div{position: absolute; top: 0px; right: 0px;}
li.misc_pres{position: relative;}
div.like_message{background: #FD8F53; color: #FFFFFF; font-weight: bold; padding: 5px; position: absolute; bottom: 0px; left: 0px; font-size: 0.5em;}
div.like_div a span{display: none;}
div.like_div a:hover span{display: block; padding: 5px; background:#FD8F53 ; position: absolute; top: 24px; right: 0px; color: #FFFFFF; text-decoration: none; font-size: 0.5em; width: 100px; text-align: center; border-radius: 5px; font-weight: bold;}
div.div_orange_border{border: 1px solid #FF6600; border-radius: 15px; margin-bottom: 10px;}
button.remove_performance{margin-left: 10px; margin-bottom: 10px;}
div.likes_count_div{background-color: #475474; padding: 6px 10px; color: #FFFFFF; display: inline-block; margin-left: 5px; font-size: 12px; font-weight: bold; position: relative;}
div.likes_arrow{border-bottom: 3px solid transparent; border-top: 3px solid transparent; border-right: 3px solid #475474; position: absolute; top: 9px; left: -3px;}
span.likes_count{font-size: 12px;}
div.social_login{float: left; text-align: center; width: 400px;}
div.social_login div{margin: 20px 0px;}