{% extends "base.html" %}
{% block title %}Select account type{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="login_content span6 offset3" style="background:white; padding:2em 3em; border:1px solid #E0E0E0; border-radius:5px;">
		
		{% if account_form.errors %}
		<div class="alert" style="width:90%;">
			<button type="button" class="close" data-dismiss="alert">x</button>
			  <strong>Warning!</strong> Please correct the errors below: {{ form.non_field_errors }}
		</div>
		{% endif %} 
		<form class="form-horizontal" method="post"  action="">
			{% csrf_token %}
			<legend>Select account type</legend>
			{% if form.password.errors %}
			<p class="text-error" style="margin-left:14em;">{{ account_form.account_type.errors|join:", "  }}</p>
			{% endif %}
			<label class="radio inline">
				{{ account_form.account_type }}
			</label>
			<button type="submit" class="btn btn-large btn-block btn-primary" style="margin-left:70px; margin-top:16px; width:220px;">Continue</button>
		</form>
	</div>
</div>
{% endblock %}