{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="clear"></div>
    <div class="account_div">
        <div>
            <h1 class="account_title">{{user}}</h1>
        </div>
        <div class="main_account">
            {% include "myprofile/sidebar.html"%}
            <div class="right_account">
                
                <div class="right_content" id="test_div">
                	<div class="right_title">
                    	Upcoming Events
               		 </div>
                    {% if upcoming_events %}
                    <div id="carousel_pres_upcoming" class="carousel_pres">
                            <div id="carousel_upcoming" class="touchcarousel grey-blue touchcarousel_dashboard">     
                                    <ul class="touchcarousel-container">
                                    {% for event in upcoming_events %}
                                    <li class="touchcarousel-item">
                                            <a href="/event/createevent/?id={{event.id}}">
                                                    <div class="image_c">
                                                            <img src="/media/images/{{event.event_poster}}" alt="{{event.title}}" onload="OnImageLoad(event);"/>
                                                    </div>
                                                    <h4>{{event.title}}</h4>
                                            </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                    </div>
                    {% else %}
                            <span style="color: #FF8C00; display:block; margin-left:1em; margin-top:1em;">No upcoming events scheduled</span>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                
                <div class="right_content">
                	<div class="right_title">
                    	Events History
                	</div>
                    {% if history_events %}
                    <div id="carousel_pres_history" class="carousel_pres">
                            <div id="carousel_history" class="touchcarousel grey-blue touchcarousel_dashboard">     
                                    <ul class="touchcarousel-container">
                                    {% for event in history_events %}
                                    <li class="touchcarousel-item">
                                            <a href="/event/createevent/?id={{event.id}}">
                                                    <div class="image_c">
                                                            <img src="/media/images/{{event.event_poster}}" alt="{{event.title}}" onload="OnImageLoad(event);"/>
                                                    </div>
                                                    <h4>{{event.title}}</h4>
                                            </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                    </div>
                    {% else %}
                            <span style="color: #FF8C00; display:block; margin-left:1em; margin-top:1em;">No event history found</span>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                
                <div class="right_content">
                	<div class="right_title">
                    	My Bookmarks
                	</div>
                    {% if wishlist_events %}
                    <div id="carousel_pres_wishlist" class="carousel_pres">
                            <div id="carousel_wishlist" class="touchcarousel grey-blue touchcarousel_dashboard">     
                                    <ul class="touchcarousel-container">
                                    {% for wishlist_event in wishlist_events %}
                                    <li class="touchcarousel-item">
                                            <a href="/event/details?id={{wishlist_event.event.id}}">
                                                    <div class="image_c">
                                                            <img src="/media/images/{{wishlist_event.event.event_poster}}" alt="{{wishlist_event.event.title}} onload="OnImageLoad(event);""/>
                                                    </div>
                                                    <h4>{{wishlist_event.event.title}}</h4>
                                            </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                    </div>
                    {% else %}
                            <span style="color: #FF8C00; display:block; margin-left:1em; margin-top:1em;">No events is added to your Bookmarks</span>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="highlighter_div"></div>
    <script>
        function highlight()
        {
            var extension_space = 10;
            var position = $("#test_div").offset();
            position.left = 0;
            position.top += extension_space;
            position.height = $("#test_div").outerHeight(true)+extension_space;
            position.width = $("#test_div").outerWidth(true)+extension_space;
            console.log(position);
            $("#highlighter_div").css(position);
            $("#highlighter_div").show();
            $("#highlighter_div").fadeOut(5000);
        }
    </script>
{% endblock %}