{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="clear"></div>
    <div class="account_div">
        <div>
            <h1 class="account_title">{{user}}</h1>
        </div>
        <div class="main_account">
            {% include "myprofile/sidebar.html"%}
            <div class="right_account">
                <div class="right_title">
                    Upcoming Events
                </div>
                <div class="right_content">
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="right_title">
                    Events History
                </div>
                <div class="right_content">
                    {% for history_event in history_events %}
                        <div class="right_item">
                            <a href="/event/details?id={{history_event.event.id}}">
                                    <img src="/media/images/{{history_event.event.event_poster}}" alt="{{history_event.event.title}}"/>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <div class="right_title">
                    My Wishlist
                </div>
                <div class="right_content">
                    {% for wishlist_event in wishlist_events %}
                        <div class="right_item">
                            <a href="/event/details?id={{wishlist_event.event.id}}">
                                    <img src="/media/images/{{wishlist_event.event.event_poster}}" alt="{{wishlist_event.event.title}}"/>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}