{% extends "base.html" %}
{% block title %}Edit Account Information{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="account_div">
    <div>
	<h1 class="account_title">{{user}}</h1>
    </div>
    <div class="main_account">
	{% include "myprofile/sidebar.html"%}
	<div class="right_account"> 
	    <div class="right_content">
	    	<div class="right_title">
				My Account
	    	</div>
		<div class="login_content profile_content">
		<form enctype="multipart/form-data" method="post"  action="{% url editaccount %}">
			{% csrf_token %}
			  {% if form.errors %}
			  <div class="alert" style="width:90%;">
			  	<button type="button" class="close" data-dismiss="alert">x</button>
			  	<strong>Warning!</strong> Please correct the errors below: {{ form.non_field_errors }}
			  </div>
			  {% endif %} 
			    
			    <fieldset>
				
                                <div class="form_fields">
                                  {% if form.password.errors %}
                                    <p class="text-error" style="margin-left:10em;">{{ form.password.errors|join:", "  }}</p>
                                  {% endif %}
                                  <label for="id_email_id_4">New password:</label>
                                  {{ form.password }}
                                  <div class="clear"></div>
                                </div>
                                
                                <div class="form_fields">
                                  {% if form.confirmpassword.errors %}
                                    <p class="text-error" style="margin-left:14em;">{{ form.confirm_password.errors|join:", "  }}</p>
                                  {% endif %}
                                  <label for="id_facebook_account">Confirm password:</label>
                                  {{ form.confirm_password }}
                                  <div class="clear"></div>
                                </div>
                            </fieldset>
				<button type="submit" class="btn btn-large btn-block btn-primary" style="margin-left:150px; margin-top:0px; width:30%;">Submit new password!</button>
				<!--<input id="submit_accountdetails" type="submit"  value="" name="submit" class="continue_button"/>-->
			</form>
		</div>
		<div class="clear"></div>
	    </div>
	    
	    <div class="clear"></div>
	</div>
	<div class="clear"></div>
    </div>
</div>
{% endblock %}
