{% extends "base.html" %}
{% block title %}Send Invitation{% endblock %}
{% block content %}
    <div class="clear"></div>
    <div class="account_div">
        <div>
            <h1 class="account_title">Charles Henri</h1>
        </div>
        <div class="main_account">
            {% include "myprofile/sidebar.html"%}
            <div class="right_account">
                <div class="right_title">
                    Send Invitation
                </div>
                <form action="" method="post" name="invitation_form">
                    {% csrf_token %}
                    <div class="right_content">
                        <div>
                            Email to (separate with commas):
                        </div>
                        <div>
                            <textarea name="emails" id="emails" class="emails_textarea"></textarea>
                        </div>
                        <div style="margin-top: 20px;">
                            <span>Your message (optional):</span>
                            <span style="float: right;">
                                <input type="hidden" name="action" value="invitation">
                                <a href="javascript: void(0)" onclick="document.invitation_form.submit();" class="emails_link">Send Invitation</a>
                            </span>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <textarea name="emails_content" id="emails_content" class="emails_textarea">Hey ! have you tried citysom yet? It is the best way to find out what is going on in the city. Browse from the most extensive source of information for your next night out, day with the kids or whatever you please.</textarea>
                        </div>
                    </div>
                </form>
                <div class="right_title">
                    See friends wishlist
                </div>
                <div class="right_content">
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="right_item">
                        <img src="/static/images/churchillimg.png" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}