<div class="left_account">
    <div class="left_title">
        Connect With friends
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url invitation %}">send invitation</a>
            </li>
            <li>
                <a href="#">see friends wishlist</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        See my events
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="#">View upcoming events</a>
            </li>
            <li>
                <a href="#">View events history</a>
            </li>
            <li>
                <a href="#">View my wishlist</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        Edit account details
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="#">edit account information</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        Access my profile
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url editprofile %}">edit profile information</a>
            </li>
           
        </ul>
    </div>
</div>