<div class="left_account">
    <div class="left_title">
        <a href="{% url invitation %}" style="color: #000000; text-decoration: none;">Connect With friends</a>
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url invitation %}">send invitation</a>
            </li>
            <li>
                <a href="{% url invitation%}">see friends wishlist</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        <a href="{% url dashboard%}" style="color: #000000; text-decoration: none;">See my events</a>
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url dashboard%}">View upcoming events</a>
            </li>
            <li>
                <a href="{% url dashboard%}">View events history</a>
            </li>
            <li>
                <a href="{% url dashboard%}">View my wishlist</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        <a href="{% url editaccount %}" style="color: #000000; text-decoration: none;">Edit account details</a>
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url editaccount %}">Edit account information</a>
            </li>
        </ul>
    </div>
    <div class="left_title">
        <a href="{% url editprofile %}" style="color: #000000; text-decoration: none;">Access my profile</a>
    </div>
    <div class="left_links">
        <ul>
            <li>
                <a href="{% url editprofile %}">Edit profile information</a>
            </li>
           
        </ul>
    </div>
</div>