{% extends "base.html" %}

{% block title %}Registration complete, check your Email!{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="login_content span6 offset3" style="background:white; padding:2em 3em; border:1px solid #E0E0E0; border-radius:5px;">
		<form class="form-horizontal" method="post"  action="">
			<legend>Confirmation email sent</legend>
			<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
			<p>See you real soon now!</p>
		</form>
	</div>
</div>
{% endblock %}