{% extends "base.html" %}

{% block title %}Sign up on Citysom!{% endblock %}

<!--{% block body  %} {% endblock %}-->
{% block content %}
<!--<div class="cre_event">Create an account</div>
<div class="clear"></div>
<div class="bln_area"></div>-->
<div class="row-fluid">
	<div class="login_content" style="padding:0; height:auto; background:white; margin-bottom: 20px; border:1px solid #E0E0E0; border-radius:5px;">
		{% if form.errors %}
		<div class="alert" style="width:90%;">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Warning!</strong> Please correct the errors below: {{ form.non_field_errors }}
		</div>
		{% endif %}

		<form class="form-horizontal" method="post"  action="">
			<legend><span>Create an account</span></legend>
			{% csrf_token %}
			<div class="form_fields control-group">
				{% if form.username.errors %}
				<p class="text-error" style="margin-left:115px;">{{ form.username.errors|join:", "  }}</p>
    			{% endif %}
				<label class="control-label" for="id_username">Username:</label>
    			{{ form.username }}
			</div>
			<div class="form_fields control-group">
				{% if form.email.errors %}
    			<p class="text-error" style="margin-left:115px;">{{ form.email.errors|join:", "  }}</p>
  				{% endif %}
				<label class="control-label" for="id_email">Email address:</label>
  				{{ form.email }}
			</div>
			<div class="form_fields control-group">
				{% if form.password1.errors %}
    			<p class="text-error" style="margin-left:115px;">{{ form.password1.errors|join:", "  }}</p>
  				{% endif %}
				<label class="control-label" for="id_password1">Password:</label>
  				{{ form.password1 }}
			</div>
			<div class="form_fields control-group">
				{% if form.password2.errors %}
      			<p class="text-error" style="margin-left:115px;">{{ form.password2.errors|join:", "  }}</p>
    			{% endif %}
				<label class="control-label" for="id_password2">Confirm Password:</label>
    			{{ form.password2 }}
			</div>

			<div class="form_fields control-group">
				{% if form.account_type.errors %}
        		<p class="text-error" style="margin-left:115px;">{{ form.account_type.errors|join:", "  }}</p>
   				{% endif %}
				<label class="control-label" for="id_account_type"></label>
    			{{ form.account_type }}
			</div>
			<button type="submit" class="btn btn-large btn-block btn-primary" style="margin-left:12.5em; margin-top:1em; width:30%;">Create account!</button>
		</form>
	</div>
</div>

{% endblock %}